openapi: 3.2.0
info:
  title: Argyle Partners API
  description: Argyle OpenAPI spec
  version: 1.0.111
servers:
- url: https://api-sandbox.argyle.com/v2
  description: Sandbox
- url: https://api.argyle.com/v2
  description: Production
security:
- basicAuth: []
tags:
- name: Partners
paths:
  /partners/v2/accounts:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    get:
      summary: List all accounts
      description: Returns a paginated list of all account objects.
      parameters:
      - in: query
        name: user
        required: true
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: item
        schema:
          type: string
          format: uuid
        description: Filter by Item ID.
      - in: query
        name: ongoing_refresh_status
        schema:
          type: string
          enum:
          - enabled
          - disabled
          - idle
        description: Filter by `status` of the `ongoing_refresh` object.
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of account objects returned [per page](/api-guide/overview#pagination). Default: 10. Maximum: 200.'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL for the next page of results, if available.
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
              example:
                next: https://api-sandbox.argyle.com/partners/v2/accounts?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: 0185a8b8-60eb-80ca-7482-5f24504573f7
                  user: 0186c5b8-8fa1-67b3-39af-14b3e18da8a7
                  employers:
                  - Half Bads
                  item: item_000000001
                  source: payrollcorp
                  created_at: '2023-01-30T18:25:13.491Z'
                  updated_at: '2023-01-30T18:46:44.034Z'
                  scanned_at: '2023-01-30T18:46:43.446Z'
                  connection:
                    status: connected
                    error_code: null
                    error_message: null
                    updated_at: '2023-01-30T18:25:30.334956Z'
                    direct_deposit_switch:
                      status: error
                      error_code: confirmation_timeout
                      error_message: This user did not finish confirming the direct deposit switch.
                      updated_at: '2023-01-30T18:35:31.961Z'
                  availability:
                    shifts:
                      status: synced
                      updated_at: '2023-01-30T18:46:43Z'
                      available_count: 132
                      available_from: '2020-03-03T18:25:30Z'
                      available_to: '2023-01-28T00:00:00Z'
                    gigs:
                      status: synced
                      updated_at: '2023-01-30T18:46:43Z'
                      available_count: 242
                      available_from: '2020-03-03T18:25:30Z'
                      available_to: '2023-01-28T00:00:00Z'
                    paystubs:
                      status: synced
                      updated_at: '2023-01-30T18:46:43Z'
                      available_count: 40
                      available_from: '2020-03-03T18:25:30Z'
                      available_to: '2023-01-02T00:00:00Z'
                    payroll_documents:
                      status: synced
                      updated_at: '2023-01-30T18:45:35.228Z'
                    identities:
                      status: synced
                      updated_at: '2023-01-30T18:45:34.960Z'
                    ratings:
                      status: synced
                      updated_at: '2023-01-30T18:45:35.235Z'
                    vehicles:
                      status: synced
                      updated_at: '2023-01-30T18:45:35.237Z'
                    deposit_destinations:
                      status: synced
                      updated_at: '2023-01-30T18:25:31.438Z'
                    user_forms: null
                    user_uploads: null
                  ongoing_refresh:
                    status: enabled
                - id: 01856c65-43b6-8b5d-b32a-56b8fbda5c28
                  user: 0186c5b8-8fa1-67b3-39af-14b3e18da8a7
                  employers: []
                  item: item_000012271
                  source: doc_upload_item
                  created_at: '2023-01-30T15:15:53.176Z'
                  updated_at: '2023-01-30T15:16:12.042Z'
                  scanned_at: null
                  connection:
                    status: connecting
                    error_code: null
                    error_message: null
                    updated_at: '2023-01-30T15:16:14.695Z'
                  direct_deposit_switch:
                    status: idle
                    error_code: null
                    error_message: null
                    updated_at: '2023-01-30T15:16:11.703Z'
                  availability:
                    shifts: null
                    gigs: null
                    paystubs: null
                    payroll_documents: null
                    identities: null
                    ratings: null
                    vehicles: null
                    deposit_destinations: null
                    user_forms:
                      status: synced
                      updated_at: '2023-01-30T15:16:12.012Z'
                      available_count: 1
                      files_count: 3
                      in_progress_count: 0
                    user_uploads: null
                  ongoing_refresh:
                    status: idle
      operationId: getPartnersV2Accounts
      tags:
      - Partners
  /partners/v2/payroll-documents:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    get:
      summary: List all payroll documents
      description: Returns a paginated list of all payroll document objects.
      parameters:
      - in: query
        name: user
        required: true
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: account
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by account ID.
      - in: query
        name: employment
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by employment ID.
      - in: query
        name: from_available_date
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter for payroll documents with an `available_date` on or after this timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

          '
      - in: query
        name: to_available_date
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter for payroll documents with an `available_date` on or before this timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

          '
      - in: query
        name: limit
        required: false
        schema:
          type: integer
        description: 'Number of payroll document objects returned [per page](/api-guide/overview#pagination). Default: 10. Maximum: 200.

          '
      - in: query
        name: cursor
        required: false
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL for the next page of results, if available.
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayrollDocument_verifications-partners'
              example:
                next: https://api-sandbox.argyle.com/partners/v2/payroll-documents?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: 0186dc02-05b6-b83f-c366-b39a267e1570
                  account: 0185a8b8-60eb-80ca-7482-5f24504573f7
                  document_number: null
                  available_date: '2020-05-13T17:25:59Z'
                  expiration_date: null
                  employer: Whole Goods
                  employment: 0186a27d-e5c6-735a-a359-6315b34d544c
                  document_type: payout-statement
                  document_type_description: null
                  file_url: api.argyle.com/partners/v2/payroll-documents/{id}/file
                  created_at: '2023-03-13T17:27:01.501Z'
                  updated_at: '2023-03-13T17:27:01.501Z'
                  ocr_data: {}
                  metadata: {}
                - id: 0176dc14-bb37-402a-7be1-f5261759fae7
                  account: 0187c66e-e7e5-811c-b006-2232f00f426a
                  document_number: ced46eb3-7586-3cd7-2418-8eb9482bc3ec
                  available_date: '2019-03-14T17:46:25Z'
                  expiration_date: '2027-03-12T17:46:25Z'
                  employer: GigAndGo
                  employment: 42d6531c-520a-26b9-35c3-b7137a6d205a
                  document_type: drivers-licence
                  document_type_description: Driver's license
                  file_url: api.argyle.com/partners/v2/payroll-documents/{id}/file
                  created_at: '2023-03-13T17:46:28.240Z'
                  updated_at: '2023-03-13T17:46:28.240Z'
                  ocr_data: {}
                  metadata: {}
      operationId: getPartnersV2PayrollDocuments
      tags:
      - Partners
  /partners/v2/paystubs:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    get:
      summary: List all paystubs
      description: Returns a paginated list of all paystub objects.
      parameters:
      - in: query
        name: account
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by account ID.
      - in: query
        name: user
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: employment
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by employment ID.
      - in: query
        name: from_start_date
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter for paystubs with a `paystub_date` on or after this timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

          '
      - in: query
        name: to_start_date
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter for paystubs with a `paystub_date` on or before this timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

          '
      - in: query
        name: limit
        required: false
        schema:
          type: integer
        description: 'Number of paystubs objects returned [per page](/api-guide/overview#pagination). Default: 10. Maximum: 200.

          '
      - in: query
        name: cursor
        required: false
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL for the next page of results, if available.
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartnerPaystub'
      operationId: getPartnersV2Paystubs
      tags:
      - Partners
  /partners/v2/receipts:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    post:
      summary: Generate a receipt
      description: Returns a PDF listing all billable transactions associated with the user.
      servers:
      - url: https://api.argyle.com
        description: Production
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                  format: uuid
                  description: ID of the user.
              required:
              - user
            example:
              user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              description: Content type of response payload.
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Response disposition with receipt filename.
              schema:
                type: string
                example: attachment; filename="receipt.pdf"
            Content-Length:
              description: Size of response payload in bytes.
              schema:
                type: integer
                example: 12345
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: '200 OK

                    Content-Type: application/pdf

                    Content-Disposition: attachment; filename="receipt.pdf"

                    Content-Length: 12345


                    [PDF binary stream omitted]

                    '
      operationId: postPartnersV2Receipts
      tags:
      - Partners
  /partners/v2/sessions:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    post:
      summary: Create a session
      description: 'Create a connection session or send an invite.


        - For an embedded session, provide `verification`. The response returns a `link` to launch or embed the frontend experience. The `link` expires after one hour.


        - For an invite, first create the user and at least one active verification. Set `type` to `invite`, provide `user`, and include `configuration.email`, `configuration.phone_number`, or both. The invite link expires after 180 days or when revoked.


        This endpoint is for payroll and banking verifications only.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerSessionCreateRequest'
            examples:
              Embedded - Payroll:
                summary: Embedded - Payroll
                value:
                  verification: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                  configuration:
                    redirect_url: https://your-application.com/return
                    flow_id: 12ABCD3E
                    items:
                    - item_000000001
                    - item_000000002
                    language: EN
                    mobile_app: true
              Embedded - Banking:
                summary: Embedded - Banking
                value:
                  verification: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                  configuration:
                    experience: 97f1eccb-241d-4052-8409-fab9e27a589b
                    single_use_url: false
                    redirect_url: https://your-application.com/return
              Invites:
                summary: Invites
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  type: invite
                  configuration:
                    flow_id: 7B18UYWH
                    items: []
                    reply_to: hello@argyle.com
                    email: jane@example.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PartnerSession'
                - $ref: '#/components/schemas/PartnerInviteSession'
              examples:
                Embedded - Payroll:
                  summary: Embedded - Payroll
                  value:
                    verification: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    configuration:
                      experience: null
                      single_use_url: false
                      redirect_url: https://your-application.com/return
                      flow_id: 12ABCD3E
                      items:
                      - item_000000001
                      - item_000000002
                      language: EN
                      mobile_app: true
                    link: https://connect.argyle.com/?...
                    data_source: payroll
                Embedded - Banking:
                  summary: Embedded - Banking
                  value:
                    verification: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    configuration:
                      experience: 97f1eccb-241d-4052-8409-fab9e27a589b
                      single_use_url: false
                      redirect_url: https://your-application.com/return
                    link: https://connect2.finicity.com?...
                    data_source: banking
                Invites:
                  summary: Invites
                  value:
                    id: c188bce4-8a00-11f1-a41b-2ba97b79663a
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    type: invite
                    configuration:
                      flow_id: 7B18UYWH
                      items: []
                      reply_to: hello@argyle.com
                      email: jane@example.com
                      phone_number: null
                    link: https://verify.argyle.com/connect/c188bce4-8a00-11f1-a41b-2ba97b79663a?sandbox=1
                    invite:
                      status: sent
                      deliveries:
                      - id: c1acc77e-8a00-11f1-9568-b321cb09ee53
                        method: email
                        status: sent
                        sent_at: '2026-07-27T21:18:47.000Z'
                        updated_at: '2026-07-27T21:18:47.000Z'
                      invited_at: '2026-07-27T21:18:47.000Z'
                      created_at: '2026-07-27T21:18:47.000Z'
                      updated_at: '2026-07-27T21:18:47.000Z'
      operationId: postPartnersV2Sessions
      tags:
      - Partners
  /partners/v2/user-uploads:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    post:
      summary: Upload a document
      description: Upload a document via the API.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - user
              - document_type
              - upload
              properties:
                user:
                  type: string
                  format: uuid
                  description: ID of the user object.
                document_type:
                  type: string
                  enum:
                  - paystubs
                  - W-2
                  - 1099
                  - proof-of-identity
                  - proof-of-address
                  - miscellaneous
                  description: The type of document.
                upload:
                  type: string
                  format: binary
                  description: 'Link to the document to be uploaded.


                    Max of 1 file per POST request.

                    '
      responses:
        '200':
          $ref: '#/components/responses/PartnerUserUploadResponse'
      operationId: postPartnersV2UserUploads
      tags:
      - Partners
  /partners/v2/users:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    post:
      summary: Create a user
      description: Creates a new user object for partner verification workflows.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerUserCreateRequest'
            example:
              client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
              first_name: Jane
              last_name: Doe
              ssn: 000-00-0000
              email: jane@example.com
              phone_number: '+15555555555'
              address:
                city: New York
                line1: 123 Main St
                line2: null
                state: NY
                country: US
                postal_code: null
              birth_date:
                year: 1990
                month: 1
                day: 13
              external_id: null
              external_metadata:
                suppress_verification: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerCreateUserResponse'
              example:
                user_token: <SECRET>
                id: 7a614711-066f-4b6b-b319-4c6236b5acc1
      operationId: postPartnersV2Users
      tags:
      - Partners
  /partners/v2/verifications:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    post:
      summary: Order a verification
      description: 'Orders a new verification.


        Create a user or update an existing user with the required details before ordering payroll, banking, or document verifications.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerVerificationCreateRequest'
            examples:
              payroll:
                summary: Example Request (Payroll)
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  report:
                    type: voie
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                    division: wholesale
                  billing:
                    cost_center: '5'
                  configuration:
                    notified_recipients:
                    - loan.officer@example.com
                    - processor@example.com
              payroll (gov):
                summary: Example Request (Payroll Gov)
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  report:
                    type: voie-government
                    self_certification: true
              banking:
                summary: Example Request (Banking)
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  report:
                    type: voai
                    configuration:
                      from_date: '2024-01-01T00:00:00Z'
                      income_stream_confidence_minimum: 50
                      report_custom_fields:
                      - label: loanID
                        value: '12345'
                        shown: true
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                    division: wholesale
                  billing:
                    cost_center: '5'
              documents:
                summary: Example Request (Documents)
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  employments:
                  - employer: Warehouse Services Inc
                    status: active
                    hire_date: '2023-02-01'
                    termination_date: null
                  report:
                    type: doc-voi-mortgage
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                    division: wholesale
                  billing:
                    cost_center: '5'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerVerification'
              examples:
                payroll:
                  summary: Example Response (Payroll)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PENDING
                      code: pending
                      errors: []
                    report:
                      id: null
                      type: voie
                      file_url: null
                      json_url: null
                    employments: []
                    loan:
                      number: '1234'
                      borrower_id: ABC789
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: '5'
                    configuration:
                      notified_recipients:
                      - loan.officer@example.com
                      - processor@example.com
                    data_source: payroll
                payroll (gov):
                  summary: Example Response (Payroll Gov)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PENDING
                      code: pending
                      errors: []
                    report:
                      id: null
                      type: voie-government
                      self_certification: true
                      file_url: null
                      json_url: null
                    employments: []
                    data_source: payroll
                banking:
                  summary: Example Response (Banking)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PENDING
                      code: pending
                      errors: []
                    report:
                      id: null
                      type: voai
                      file_url: null
                      json_url: null
                      configuration:
                        from_date: '2024-01-01T00:00:00Z'
                        income_stream_confidence_minimum: 50
                        report_custom_fields:
                        - label: loanID
                          value: '12345'
                          shown: true
                    employments: []
                    loan:
                      number: '1234'
                      borrower_id: ABC789
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: '5'
                    data_source: banking
                documents:
                  summary: Example Response (Documents)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PENDING
                      code: pending
                      errors: []
                    report:
                      id: null
                      type: doc-voi-mortgage
                      file_url: null
                      json_url: null
                    employments:
                    - employer: Warehouse Services Inc
                      status: active
                      hire_date: '2023-02-01'
                      termination_date: null
                    loan:
                      number: '1234'
                      borrower_id: ABC789
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: '5'
                    data_source: documents
      operationId: postPartnersV2Verifications
      tags:
      - Partners
    get:
      summary: List all verifications
      description: Returns a paginated list of all verification objects.
      parameters:
      - name: user
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - name: status_state
        in: query
        required: false
        schema:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - PAUSED
          - CANCELLED
          - COMPLETED
        description: Filter by verification status `state`.
      - name: status_code
        in: query
        required: false
        schema:
          type: string
          enum:
          - pending
          - invite_sent
          - user_session_started
          - authenticated
          - documents_processing
          - report_available
          - waiting_on_third_party
          - report_generating
          - awaiting_certification
          - connection_attempted
          - more_data_required
          - syncing_error
          - cancelled_by_client
          - system_error
          - argyle_timeout
          - completed
          - completed_with_errors
        description: Filter by verification status `code`.
      - name: report_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - voie
          - voe
          - voie-government
          - voa
          - voi
          - voai
          - voe-transactions
          - doc-voi-mortgage
        description: Filter by report `type`.
      - name: loan_number
        in: query
        required: false
        schema:
          type: string
        description: Filter by loan `number`.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: 'Number of verification objects returned [per page](/api-guide/overview#pagination). Default: 10. Maximum: 200.

          '
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type:
                    - string
                    - 'null'
                    description: URL for the next page of results, if available.
                  previous:
                    type:
                    - string
                    - 'null'
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    description: Array of verification objects.
                    items:
                      $ref: '#/components/schemas/PartnerVerification'
              example:
                next: https://api-sandbox.argyle.com/partners/v2/verifications?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                  created_at: '2023-03-09T16:22:06.081Z'
                  updated_at: '2023-03-09T16:22:06.081Z'
                  channel: api
                  status:
                    state: PENDING
                    code: pending
                    errors: []
                  report:
                    id: 2a14ce6f-3aed-4c15-8ea2-92a17b6edb95
                    type: voie
                    file_url: null
                    json_url: null
                  employments: []
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                    division: wholesale
                  billing:
                    cost_center: '5'
                  data_source: payroll
                - id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc3333
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9345
                  client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                  created_at: '2023-03-10T05:14:06.081Z'
                  updated_at: '2023-03-10T13:03:06.081Z'
                  channel: api
                  status:
                    state: PROCESSING
                    code: authenticated
                    errors: []
                  report:
                    id: null
                    type: voai
                    file_url: null
                    json_url: null
                    configuration:
                      from_date: '2024-01-01T00:00:00Z'
                      income_stream_confidence_minimum: 50
                      report_custom_fields:
                      - label: loanID
                        value: '12345'
                        shown: true
                  employments: []
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                    division: wholesale
                  billing:
                    cost_center: '5'
                  data_source: banking
      operationId: getPartnersV2Verifications
      tags:
      - Partners
  /partners/v2/verifications/refresh:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    post:
      summary: Refresh a verification
      description: 'Creates a new payroll, banking, or Doc VOI verification without requiring the user to reconnect or upload additional documents.


        For payroll and banking, a valid connection must already exist. For Doc VOI, the new report is generated from the user''s existing uploaded documents.


        The new verification inherits `loan.division` from the original verification.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerVerificationRefreshRequest'
            examples:
              payroll:
                summary: Example Request (Payroll)
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  report:
                    type: voie
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                  billing:
                    cost_center: '5'
              banking:
                summary: Example Request (Banking)
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  report:
                    type: voa
                    configuration:
                      from_date: '2025-01-01T00:00:00Z'
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                  billing:
                    cost_center: '5'
              documents:
                summary: Example Request (Documents)
                value:
                  user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                  report:
                    type: doc-voi-mortgage
                  loan:
                    number: '1234'
                    borrower_id: ABC789
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                  billing:
                    cost_center: '5'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerVerification'
              examples:
                payroll:
                  summary: Example Response (Payroll)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PENDING
                      code: pending
                      errors: []
                    report:
                      id: null
                      type: voie
                      file_url: null
                      json_url: null
                    employments: []
                    loan:
                      number: '1234'
                      borrower_id: ABC789
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: '5'
                    data_source: payroll
                banking:
                  summary: Example Response (Banking)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PENDING
                      code: pending
                      errors: []
                    report:
                      id: null
                      type: voa
                      file_url: null
                      json_url: null
                      configuration:
                        from_date: '2025-01-01T00:00:00Z'
                    employments: []
                    loan:
                      number: '1234'
                      borrower_id: ABC789
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: '5'
                    data_source: banking
                documents:
                  summary: Example Response (Documents)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PENDING
                      code: pending
                      errors: []
                    report:
                      id: null
                      type: doc-voi-mortgage
                      file_url: null
                      json_url: null
                    employments: []
                    loan:
                      number: '1234'
                      borrower_id: ABC789
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: '5'
                    data_source: documents
      operationId: postPartnersV2VerificationsRefresh
      tags:
      - Partners
  /partners/v2/accounts/{id}:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    get:
      summary: Retrieve an account
      description: Retrieves an account object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the account object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 0187c66e-e7e5-811c-b006-2232f00f426a
                user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                employers:
                - Whole Goods
                item: item_123456789
                source: thepayrollcompany
                created_at: '2023-01-30T12:53:22.561Z'
                updated_at: '2023-01-30T12:55:04.478Z'
                scanned_at: '2023-01-30T12:55:04.016Z'
                connection:
                  status: connected
                  error_code: null
                  error_message: null
                  updated_at: '2023-01-30T12:53:25.561Z'
                direct_deposit_switch:
                  status: success
                  error_code: null
                  error_message: null
                  updated_at: '2023-01-30T12:55:03.478Z'
                availability:
                  shifts:
                    status: synced
                    updated_at: '2023-01-30T12:55:03Z'
                    available_count: 94
                    available_from: '2020-04-11T12:53:27Z'
                    available_to: '2023-01-25T00:00:00Z'
                  gigs:
                    status: synced
                    updated_at: '2023-01-30T12:55:03Z'
                    available_count: 217
                    available_from: '2020-04-11T12:53:27Z'
                    available_to: '2023-01-25T00:00:00Z'
                  paystubs:
                    status: synced
                    updated_at: '2023-01-30T12:55:03Z'
                    available_count: 68
                    available_from: '2020-05-11T12:53:27Z'
                    available_to: '2023-01-29T23:59:59Z'
                  payroll_documents:
                    status: synced
                    updated_at: '2023-01-30T12:53:44.308912Z'
                  identities:
                    status: synced
                    updated_at: '2023-01-30T12:53:44.028552Z'
                  ratings:
                    status: synced
                    updated_at: '2023-01-30T12:55:03.359356Z'
                  vehicles:
                    status: synced
                    updated_at: '2023-01-30T12:53:44.321951Z'
                  deposit_destinations:
                    status: synced
                    updated_at: '2023-01-30T12:53:42.586391Z'
                  user_forms:
                    status: in_progress
                    updated_at: '2023-01-30T12:53:42.586391Z'
                    available_count: 0
                    files_count: 1
                    in_progress_count: 1
                    user_uploads:
                      status: synced
                      updated_at: '2023-01-30T12:54:41.621Z'
                      files_count: 2
                      in_progress_count: 0
                ongoing_refresh:
                  status: enabled
      operationId: getPartnersV2AccountsById
      tags:
      - Partners
  /partners/v2/payroll-documents/{id}:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    get:
      summary: Retrieve a payroll document
      description: Retrieves a payroll document object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the payroll document object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollDocument_verifications-partners'
              example:
                id: 0183b2c1-02e5-a5e5-38f2-ecd51a5cf3d6
                account: 0187c66e-e7e5-811c-b006-2232f00f426a
                document_number: ced46eb3-7586-3cd7-2418-8eb9482bc3ec
                available_date: '2019-03-14T17:46:25Z'
                expiration_date: '2027-03-12T17:46:25Z'
                employer: GigAndGo
                employment: 42d6531c-520a-26b9-35c3-b7137a6d205a
                document_type: drivers-licence
                document_type_description: Driver's license
                file_url: api.argyle.com/partners/v2/payroll-documents/{id}/file
                created_at: '2023-03-13T17:46:28.240Z'
                updated_at: '2023-03-13T17:46:28.240Z'
                ocr_data: {}
                metadata: {}
      operationId: getPartnersV2PayrollDocumentsById
      tags:
      - Partners
  /partners/v2/paystubs/{id}:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    get:
      summary: Retrieve a paystub
      description: Retrieves a paystub object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: 'ID of the paystub object to be retrieved.

          '
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerPaystub'
      operationId: getPartnersV2PaystubsById
      tags:
      - Partners
  /partners/v2/users/{id}:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    patch:
      summary: Update a user
      description: Updates a user object.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user object to be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerUserUpdateRequest'
            example:
              email: jane@example.com
              phone_number: '+15555555555'
              external_id: ABC
              external_metadata:
                suppress_verification: true
                additional_id: '123'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerUser'
              example:
                id: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                created_at: '2023-03-09T04:54:35.170468Z'
                items_connected:
                - item_123456789
                - item_987654321
                employers_connected:
                - Whole Goods
                - Bullseye
                first_name: Jane
                last_name: Doe
                ssn: 000-00-0000
                email: jane@example.com
                phone_number: '+15555555555'
                address:
                  city: New York
                  line1: 123 Main St
                  line2: null
                  state: NY
                  country: US
                  postal_code: null
                birth_date:
                  year: 1990
                  month: 1
                  day: 13
                external_metadata:
                  suppress_verification: true
                  additional_id: '123'
                external_id: ABC
      operationId: patchPartnersV2UsersById
      tags:
      - Partners
  /partners/v2/verifications/{id}:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    get:
      summary: Retrieve a verification
      description: Retrieves a verification.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the verification to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerVerification'
              example:
                id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                created_at: '2023-03-09T16:22:06.081Z'
                updated_at: '2023-03-09T16:22:06.081Z'
                channel: api
                status:
                  state: PROCESSING
                  code: authenticated
                  errors: []
                report:
                  id: null
                  type: voai
                  file_url: null
                  json_url: null
                  configuration:
                    from_date: '2024-01-01T00:00:00Z'
                    income_stream_confidence_minimum: 50
                    report_custom_fields:
                    - label: loanID
                      value: '12345'
                      shown: true
                employments: []
                loan:
                  number: '1234'
                  borrower_id: ABC789
                  application_id: '2121313'
                  officer_email: john.doe@mortgage.com
                  division: wholesale
                billing:
                  cost_center: '5'
                data_source: banking
      operationId: getPartnersV2VerificationsById
      tags:
      - Partners
    patch:
      summary: Update a verification
      description: 'Updates verification metadata or employments.


        After a verification is updated, it will re-enter the `PROCESSING` state.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the verification to be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerVerificationUpdateRequest'
            examples:
              payroll:
                summary: Example Request (Payroll)
                value:
                  loan:
                    number: '5678'
                    borrower_id: '5678'
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                  billing:
                    cost_center: new_cost_center
              banking:
                summary: Example Request (Banking)
                value:
                  loan:
                    number: '5678'
                    borrower_id: '5678'
                    application_id: '2121313'
                    officer_email: john.doe@mortgage.com
                  billing:
                    cost_center: new_cost_center
              documents:
                summary: Example Request (Documents)
                value:
                  employments:
                  - employer: Warehouse Services Inc
                    status: previous
                    hire_date: '2015-08-28'
                    termination_date: '2023-05-01'
                  - employer: Amazon
                    status: active
                    hire_date: '2023-06-15'
                    termination_date: null
                  loan:
                    borrower_id: '5678'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerVerification'
              examples:
                payroll:
                  summary: Example Response (Payroll)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PROCESSING
                      code: authenticated
                      errors: []
                    report:
                      id: null
                      type: voie
                      file_url: null
                      json_url: null
                    employments: []
                    loan:
                      number: '5678'
                      borrower_id: '5678'
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: new_cost_center
                    data_source: payroll
                banking:
                  summary: Example Response (Banking)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PROCESSING
                      code: authenticated
                      errors: []
                    report:
                      id: null
                      type: voai
                      file_url: null
                      json_url: null
                      configuration:
                        from_date: '2024-01-01T00:00:00Z'
                        income_stream_confidence_minimum: 50
                        report_custom_fields:
                        - label: loanID
                          value: '12345'
                          shown: true
                    employments: []
                    loan:
                      number: '5678'
                      borrower_id: '5678'
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: new_cost_center
                    data_source: banking
                documents:
                  summary: Example Response (Documents)
                  value:
                    id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                    user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                    client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                    created_at: '2023-03-09T16:22:06.081Z'
                    updated_at: '2023-03-09T16:22:06.081Z'
                    channel: api
                    status:
                      state: PROCESSING
                      code: documents_processing
                      errors: []
                    report:
                      id: null
                      type: doc-voi-mortgage
                      file_url: null
                      json_url: null
                    employments:
                    - employer: Warehouse Services Inc
                      status: previous
                      hire_date: '2015-08-28'
                      termination_date: '2023-05-01'
                    - employer: Amazon
                      status: active
                      hire_date: '2023-06-15'
                      termination_date: null
                    loan:
                      number: '1234'
                      borrower_id: '5678'
                      application_id: '2121313'
                      officer_email: john.doe@mortgage.com
                      division: wholesale
                    billing:
                      cost_center: '5'
                    data_source: documents
      operationId: patchPartnersV2VerificationsById
      tags:
      - Partners
  /partners/v2/verifications/{id}/cancel:
    servers:
    - url: https://api-sandbox.argyle.com
      description: Sandbox
    - url: https://api.argyle.com
      description: Production
    post:
      summary: Cancel a verification
      description: 'Cancels a verification order.


        Only verifications in the `PAUSED` state can be cancelled.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the verification to be cancelled.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerVerification'
              example:
                id: 43a2c6c3-1e63-91e5-88e3-f9ab2dcc489b
                user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
                client: 39096494-45c8-4fd8-9454-3d1cb2d62db7
                created_at: '2023-03-09T16:22:06.081Z'
                updated_at: '2023-03-09T16:22:06.081Z'
                channel: api
                status:
                  state: CANCELLED
                  code: cancelled_by_client
                  errors: []
                report:
                  id: null
                  type: doc-voi-mortgage
                  file_url: null
                  json_url: null
                employments:
                - employer: Warehouse Services Inc
                  status: active
                  hire_date: '2023-02-01'
                  termination_date: null
                loan:
                  number: '1234'
                  borrower_id: ABC789
                  application_id: '2121313'
                  officer_email: john.doe@mortgage.com
                  division: wholesale
                billing:
                  cost_center: '5'
                data_source: documents
      operationId: postPartnersV2VerificationsByIdCancel
      tags:
      - Partners
components:
  schemas:
    PartnerVerificationRefreshRequest:
      type: object
      properties:
        user:
          type: string
          format: uuid
          description: User ID for the verification refresh.
        report:
          $ref: '#/components/schemas/PartnerVerificationRefreshReportRequest'
        loan:
          $ref: '#/components/schemas/PartnerVerificationLoanMetadata'
        billing:
          $ref: '#/components/schemas/PartnerVerificationBilling'
      required:
      - user
      - report
    PartnerVerificationCreateRequest:
      type: object
      description: 'Request body for ordering a verification.


        - `user` and `report` are required for all requests.

        - `employments` is required for document verifications only.

        - `report.configuration` is used for banking verifications only.

        - `loan` and `billing` apply to regular payroll and mortgage verification workflows.'
      properties:
        user:
          type: string
          format: uuid
          description: User ID for the verification.
        employments:
          type: array
          description: 'List of employments for the user.


            Required for document verifications only. Not used for payroll or banking verifications.'
          items:
            $ref: '#/components/schemas/PartnerVerificationEmploymentRequest'
        report:
          $ref: '#/components/schemas/PartnerVerificationCreateReportRequest'
        loan:
          $ref: '#/components/schemas/PartnerVerificationLoanCreateRequest'
        billing:
          $ref: '#/components/schemas/PartnerVerificationBilling'
        configuration:
          $ref: '#/components/schemas/PartnerVerificationCreateConfiguration'
      required:
      - user
      - report
    Deduction:
      type: object
      properties:
        amount:
          type: string
          description: Amount of the deduction. Returned as a decimal string with exactly two decimal places.
          x-argyle-decimal-places: 2
          x-argyle-decimal-mode: fixed
        name:
          type: string
          description: Name or description of the deduction.
        tax_classification:
          type: string
          enum:
          - pre_tax
          - post_tax
          description: 'Tax classification.

            - `pre_tax`

            - `post_tax`

            '
        amount_ytd:
          type: string
          description: Total amount deducted year-to-date, including the amounts from this paystub. Returned as a decimal string with exactly two decimal places.
          x-argyle-decimal-places: 2
          x-argyle-decimal-mode: fixed
    PartnerUser:
      type: object
      description: Partner user object.
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID of the user.
        created_at:
          type: string
          format: date-time
          description: Timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) when the user was created.
        items_connected:
          type: array
          items:
            type: string
          description: Items the user has connected through Link.
        employers_connected:
          type: array
          items:
            type: string
          description: Employers associated with the connected items.
        first_name:
          type: string
          description: User first name.
        last_name:
          type: string
          description: User last name.
        email:
          type: string
          description: User email address.
        phone_number:
          type: string
          description: User phone number.
        ssn:
          type: string
          description: User Social Security number.
        address:
          $ref: '#/components/schemas/PartnerAddress'
        birth_date:
          $ref: '#/components/schemas/PartnerBirthDate'
        external_metadata:
          type: object
          description: Additional metadata for internal partner workflows.
          additionalProperties: true
          properties:
            broker:
              $ref: '#/components/schemas/PartnerBroker'
        external_id:
          type:
          - string
          - 'null'
          description: External identifier for your internal mapping.
    PartnerAddress:
      type: object
      description: Address of the user.
      properties:
        city:
          type: string
          description: Name of the city, town, district, or similar regional entity.
        line1:
          type: string
          description: Address-Line 1, usually street address or P.O. Box information.
        line2:
          type:
          - string
          - 'null'
          description: Address-Line 2, usually the apartment or unit number.
        state:
          type: string
          description: State, county, province, region, or equivalent.
        country:
          type: string
          description: Two-letter country code (ISO 3166-1 alpha-2 format).
        postal_code:
          type:
          - string
          - 'null'
          description: Zip code, or equivalent.
    PartnerBroker:
      type: object
      description: Mortgage broker contact details for [wholesale borrower invites](/partners/wholesale-mortgage).
      properties:
        name:
          type: string
          description: Name of the mortgage broker.
        phone_number:
          type: string
          description: Phone number of the mortgage broker. E.164 international format.
        email:
          type: string
          description: Email address of the mortgage broker.
        nmls:
          type: string
          description: NMLS ID of the mortgage broker.
    PartnerVerification:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID of the verification.
        user:
          type: string
          format: uuid
          description: ID of the user associated with the verification.
        client:
          type: string
          format: uuid
          description: ID of the client on whose behalf the verification was requested.
        created_at:
          type: string
          format: date-time
          description: Timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) when the verification was requested.
        updated_at:
          type: string
          format: date-time
          description: Timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) when the verification object was last updated.
        channel:
          type: string
          enum:
          - api
          - encompass
          example: api
          description: Origin of the verification order.
        status:
          $ref: '#/components/schemas/PartnerVerificationStatus'
        report:
          $ref: '#/components/schemas/PartnerVerificationReport'
        employments:
          type: array
          description: List of employments for the user. Documents only.
          items:
            $ref: '#/components/schemas/PartnerVerificationEmployment'
        loan:
          $ref: '#/components/schemas/PartnerVerificationLoan'
        billing:
          $ref: '#/components/schemas/PartnerVerificationBilling'
        configuration:
          $ref: '#/components/schemas/PartnerVerificationConfiguration'
        data_source:
          type: string
          enum:
          - payroll
          - banking
          - documents
          description: Source of verification data.
    PartnerEmbeddedSessionCreateRequest:
      title: Embedded
      type: object
      properties:
        verification:
          type: string
          format: uuid
          description: ID of the verification used to initialize the session.
        type:
          type: string
          enum:
          - embedded
          default: embedded
          description: Session type. Defaults to `embedded` when omitted.
        configuration:
          $ref: '#/components/schemas/PartnerSessionCreateConfiguration'
      required:
      - verification
    PartnerVerificationBilling:
      type: object
      description: Optional billing details for regular payroll and mortgage verification workflows.
      properties:
        cost_center:
          type: string
          description: Cost center identifier.
    PayrollDocument_verifications-partners:
      type: object
      example:
        id: 0176dc14-bb37-402a-7be1-f5261759fae7
        account: 0187c66e-e7e5-811c-b006-2232f00f426a
        document_number: ced46eb3-7586-3cd7-2418-8eb9482bc3ec
        available_date: '2021-03-14T17:46:25Z'
        expiration_date: null
        employer: GigAndGo
        employment: 42d6531c-520a-26b9-35c3-b7137a6d205a
        document_type: '1099'
        document_type_description: 1099 Form 2020
        file_url: api.argyle.com/partners/v2/payroll-documents/{id}/file
        created_at: '2023-03-13T17:46:28.240Z'
        updated_at: '2023-03-13T17:46:28.240Z'
        ocr_data:
          form_type: 1099-MISC
          omb_no: 1545-0115
          year: '2020'
          form:
            recipient:
              name: BOB JONES
              address:
                city: null
                country: null
                line1: 759 VICTORIA PLAZA
                line2: null
                postal_code: '10014'
                state: NY
            recipient_tin: 111-11-1112
            payer:
              name: WAREHOUSE SERVICES INC
              address:
                city: SEATTLE
                country: null
                line1: 202 WESTLAKE AVE N (55
                line2: null
                postal_code: '98109'
                state: WA
            payer_tin: 11-1111112
            account_no: 000110CHIC/NHO
            rent_1: null
            royalties_2: null
            other_inc_3: null
            fed_inc_4: null
            fishing_5: null
            med_care_6: null
            comp_7: null
            crop_insurance_10: null
            golden_parachute_13: null
            gross_attorney_14: null
            sec_409a_defer_15a: null
            sec_409a_inc_15b: null
            state_tax_16: null
            state_no_17: null
            state_inc: null
          warnings:
          - field_name: rent_1
            message: rent_1 value empty/bad format
            severity: 0
          - field_name: royalties_2
            message: royalties_2 value empty/bad format
            severity: 0
          - field_name: other_inc_3
            message: other_inc_3 value empty/bad format
            severity: 0
          - field_name: fed_inc_4
            message: fed_inc_4 value empty/bad format
            severity: 0
          - field_name: fishing_5
            message: fishing_5 value empty/bad format
            severity: 0
          - field_name: med_care_6
            message: med_care_6 value empty/bad format
            severity: 0
          - field_name: comp_7
            message: comp_7 not found
            severity: 0
          - field_name: crop_insurance_10
            message: crop_insurance_10 value empty/bad format
            severity: 0
          - field_name: golden_parachute_13
            message: golden_parachute_13 value empty/bad format
            severity: 0
          - field_name: gross_attorney_14
            message: gross_attorney_14 value empty/bad format
            severity: 0
          - field_name: sec_409a_defer_15a
            message: sec_409a_defer_15a value empty/bad format
            severity: 0
          - field_name: sec_409a_inc_15b
            message: sec_409a_inc_15b not found
            severity: 0
          - field_name: state_tax_16
            message: state_tax_16 value empty/bad format
            severity: 0
          - field_name: state_no_17
            message: state_no_17 value empty/bad format
            severity: 0
          - field_name: state_inc
            message: state_inc value empty/bad format
            severity: 0
          confidence: EXACT_MATCH
          ocr_page_count: 1
        metadata: null
      properties:
        id:
          type: string
          format: uuid
          description: 'Unique ID of the payroll document object.


            Also the `payroll_document` ID value of the [paystub object](/api-reference/paystubs#object).

            '
        account:
          type: string
          format: uuid
          description: ID of the account where the payroll document was sourced.
        document_number:
          type: string
          description: Identification number that appears on the payroll document.
        available_date:
          type: string
          format: date-time
          description: Timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) when the payroll document was made available to the user on the underlying payroll system.
        expiration_date:
          type: string
          format: date-time
          description: Timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) when payroll document (such as a driver's license) expires.
        employer:
          type: string
          description: Employer name.
        employment:
          type: string
          description: '[Employment](/api-reference/employments) ID. Can be used as a filter when [listing payroll documents](/api-reference/partners-data-sets/list-all-payroll-documents).

            '
        document_type:
          type: string
          description: The type of payroll document, as returned by the payroll system. The following values are the most common, but document_type is not restricted to these values.
          enum:
          - payout-statement
          - W-2
          - W-4
          - W-9
          - 1095
          - 1095-C
          - 1099
          - profile-picture
          - drivers-license
          - vehicle-insurance
          - vehicle-registration
          - vehicle-inspection
          - other
        document_type_description:
          type: string
          description: Description of the payroll document type.
        file_url:
          type: string
          description: "URL linking to the original payroll document file.\n\nThis static URL redirects to a download page that requires [Argyle authentication headers](/api-guide/overview#authentication). See the dropdown below for more information.\n\n**Implementation requirements for client-side applications**\n  1. Ensure your HTTP client or library (e.g. Axios, Python requests, etc.) or similar tool is configured to pursue redirects. Most tools support this functionality.\n\n  2. [Basic authentication headers](https://docs.argyle.com/api-guide/overview#authentication) for Argyle must be appended to the file download request.\n"
        created_at:
          type: string
          format: date-time
          description: Timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) when the payroll document object was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) when a property value of the payroll document object most recently changed.
        ocr_data:
          type: object
          description: 'Argyle scans and provides additional information for 1099 and W-2 documents retrieved from connected payroll accounts.

            '
          properties:
            form_type:
              type: string
              description: "The specific type of 1099 or W-2 document.\n\n  **W-2 and W-2c**\n    W-2: Wage and Tax Statement\n    W-2c: Corrected Wage and Tax Statement\n\n    - **`control_no_d`**: Identifies the W-2 in the payer's records.  \n    - **`comp_1`**: The amount of wages, tips, and other compensation.  \n    - **`fed_income_tax_2`**: The amount of federal income tax withheld.  \n    - **`ss_wages_3`**: The amount of social security wages.  \n    - **`ss_tax_4`**: The amount of social security tax withheld.  \n    - **`med_wages_5`**: The amount of Medicare wages and tips.  \n    - **`med_tax_6`**: The amount of Medicare tax withheld.  \n    - **`ss_tips_7`**: The amount of social security tips.  \n    - **`tips_8`**: The amount of allocated tips.  \n    - **`verification_9`**: Code used to identify the accuracy of the form's contents for electronic tax returns.  \n    - **`benefits_10`**: The amount of dependent care benefits.  \n    - **`nonqualified_11`**: The amount of contributions made to a non-qualified savings plan.  \n    - **`uncollected_ss_RRTA_12a`**: The amount of uncollected social security or RRTA tax on tips.  \n    - **`uncollected_med_tax_12b`**: The amount of uncollected Medicare tax on tips.  \n    - **`insurance_12c`**: The amount of taxable costs of group-term life insurance over $50,000.  \n    - **`plan_401k_12d`**: The amount of elective deferrals related to contributions to 401-k plans.  \n    - **`other_14`**: Used to report additional tax information.  \n    - **`employers_state_15`**: Lists the states for which the employer withheld the taxes and to which state the employer remitted the taxes, indicated by the employer's state ID number.  \n    - **`state_wages_16`**: The amount of state wages, tips, etc.  \n    - **`state_income_tax_17`**: The amount of state income tax.  \n    - **`local_wages_18`**: The amount of local wages, tips, etc.  \n    - **`local_income_tax_19`**: The amount of local income tax.  \n    - **`locality_name_20`**: The name of the locality where taxes indicated in the `local_income_tax_19` field are paid.  \n\n  **1099-NEC**\n    1099-NEC: Non-Employee Compensation\n\n    - **`account_no`**: A code that is unique to the recipient and the form, for example, a bank account number, employee ID, etc.  \n    - **`comp_1`**: The amount of non-employee compensation.  \n    - **`fed_inc_tax_4`**: The amount of federal income tax withheld.  \n    - **`state_tax_5`**: The amount of state tax withheld.  \n    - **`state_no_6`**: The abbreviated name of the state and the payer's state tax identification number.  \n    - **`state_inc_7`**: The amount of state income.  \n\n  **1099-SSA**\n    1099-SSA: Social Security Benefits\n\n    - **`recipient_name_1`**: The name of the recipient.  \n    - **`benefits_3`**: The amount of benefits paid.  \n    - **`benefits_ssa_4`**: The amount of benefits repaid to the Social Security Administration (SSA).  \n    - **`net_benefits_5`**: The amount of net benefits.  \n    - **`fed_inc_tax_6`**: The amount of voluntary federal income tax withholding.  \n    - **`claim_no`**: The social security number under which a claim is filed or benefits are paid.  \n\n  **1099-MISC**\n    1099-MISC: Miscellaneous Income\n\n    - **`account_no`**: A code that is unique to the recipient and the form, for example, a bank account number, employee ID, etc.  \n    - **`rent_1`**: The amount of rental income.  \n    - **`royalties_2`**: The amount of royalty income.  \n    - **`other_inc_3`**: Other income.  \n    - **`fed_inc_4`**: The amount of federal income tax withheld.  \n    - **`fishing_5`**: The amount of fishing boat proceeds.  \n    - **`med_care_6`**: The amount of medical and health care payment.  \n    - **`comp_7`**: The amount of non-employee compensation.  \n    - **`crop_insurance_10`**: The amount of crop insurance proceeds.  \n    - **`golden_parachute_13`**: The amount of excess golden parachute payments.  \n    - **`gross_attorney_14`**: The amount of gross proceeds paid to an attorney.  \n    - **`sec_409a_defer_15a`**: The amount of section 409A deferrals.  \n    - **`sec_409a_inc_15b`**: The amount of section 409A income.  \n    - **`state_tax_16`**: The amount of state tax withheld.  \n    - **`state_no_17`**: The abbreviated name of the state and the payer's state tax identification number.  \n    - **`state_inc`**: The amount of state income.  \n\n  **1099-INT**\n    1099-INT: Interest Income\n\n    - **`payer_rtn`**: The payer's RTN (Routing and Transit Number).  \n    - **`account_no`**: A code that is unique to the recipient and the form, for example, a bank account number, employee ID, etc.  \n    - **`interest_1`**: The amount of interest income.  \n    - **`withdraw_penalty_2`**: The amount of early withdrawal penalty.  \n    - **`interest_obligations_3`**: The amount of interest earned on U.S. savings bonds or Treasury notes, bills, or bonds.  \n    - **`fed_inc_tax_4`**: The amount of federal income tax withheld.  \n    - **`investment_5`**: The amount of investment expenses.  \n    - **`foreign_tax_6`**: The amount of foreign tax paid.  \n    - **`foreign_possession_7`**: Shows the country or U.S. possession to which the foreign tax was paid.  \n\n  **1099-R**\n    1099-R: Distributions from Pensions and Annuities\n\n    - **`control_no`**: The code that uniquely identifies a particular 1099-R document in the employer's records.  \n    - **`gross_1`**: The amount of gross distribution.  \n    - **`tax_amount_2a`**: The amount of distribution that is taxable.  \n    - **`fed_inc_tax_4`**: The amount of federal income tax withheld.  \n    - **`distribution_code_7`**: A code that identifies the type of distribution received.  \n    - **`distribution_percent_9`**: The percentage of total distribution received.  \n    - **`state_tax_14`**: The amount of state tax withheld.  \n    - **`state_no_15`**: The abbreviated name of the state and the payer's state tax identification number.  \n\n  **1099-G**\n    1099-G: Certain Government Payments\n\n    - **`a_unemployment_comp_1`**: The amount of unemployment compensation.  \n    - **`a_state_inc_tax_2`**: The amount of state or local income tax refunds, credits, or offsets.  \n    - **`a_benefits_this_year_3`**: The amount of benefits repaid for the current year.  \n    - **`a_benefits_prev_year_3`**: The amount of benefits repaid for the previous year.  \n    - **`a_fed_inc_tax_4`**: The amount of federal income tax withheld.  \n    - **`b_unemployment_comp_1`**: The amount of unemployment compensation, paid family leave.  \n    - **`b_state_inc_tax_2`**: The amount of state or local income tax refunds, credits, or offsets.  \n    - **`b_benefits_this_year_3`**: The amount of benefits repaid for the current year.  \n    - **`b_benefits_prev_year_3`**: The amount of benefits repaid for the previous year.  \n    - **`b_fed_inc_tax_4`**: The amount of federal income tax withheld.  \n\n  **1099-K**\n    1099-K: Payment Card and Third Party Network Transactions\n\n    - **`pse_name_phone`**: Payment settlement entity's name and telephone number.  \n    - **`account_no`**: A code that is unique to the recipient and the form, for example, a bank account number, employee ID, etc.  \n    - **`gross_1a`**: Gross amount of payment card/third-party network transactions.  \n    - **`gross_1b`**: The amount of Card Not Present transactions.  \n    - **`category_code_2`**: Merchant category code.  \n    - **`no_transactions_3`**: Number of payment transactions.  \n    - **`fed_inc_tax_4`**: The amount of federal income tax withheld.  \n    - **`january_5a`**: The total reportable payment transactions for this month.  \n    - **`february_5b`**: The total reportable payment transactions for this month.  \n    - **`march_5c`**: The total reportable payment transactions for this month.  \n    - **`april_5d`**: The total reportable payment transactions for this month.  \n    - **`may_5e`**: The total reportable payment transactions for this month.  \n    - **`june_5f`**: The total reportable payment transactions for this month.  \n    - **`july_5g`**: The total reportable payment transactions for this month.  \n    - **`august_5h`**: The total reportable payment transactions for this month.  \n    - **`september_5i`**: The total reportable payment transactions for this month.  \n    - **`october_5j`**: The total reportable payment transactions for this month.  \n    - **`november_5k`**: The total reportable payment transactions for this month.  \n    - **`december_5l`**: The total reportable payment transactions for this month.  \n    - **`state_6`**: State.  \n    - **`state_id_7`**: State identification number.  \n    - **`state_income_8`**: The amount of state income tax withheld.  \n"
              enum:
              - W-2
              - W-2c
              - 1099-NEC
              - 1099-SSA
              - 1099-MISC
              - 1099-INT
              - 1099-R
              - 1099-G
              - 1099-K
            omb_no:
              type: string
              description: OMB reference number.
            year:
              type: string
              description: Calendar year.
            form:
              type: object
              description: Information scanned from the payroll document.
              properties:
                recipient:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Recipient name, as it appears on the form.
                    address:
                      type: object
                      description: Recipient address, as it appears on the form.
                      properties:
                        city:
                          type: string
                          description: Name of the city, town, district, or similar regional entity.
                        country:
                          type: string
                          description: Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format).
                        line1:
                          type: string
                          description: Address-Line 1, usually street address or P.O. Box information.
                        line2:
                          type: string
                          description: Address-Line 2, usually the apartment or unit number.
                        postal_code:
                          type: string
                          description: Zip code, or equivalent.
                        state:
                          type: string
                          description: State, county, province, region, or equivalent.
                recipient_tin:
                  type: string
                  description: Recipient's tax identification number.
                payer:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Payer name, as it appears on the form.
                    address:
                      type: object
                      description: Payer address, as it appears on the form.
                      properties:
                        city:
                          type: string
                          description: Name of the city, town, district, or similar regional entity.
                        country:
                          type: string
                          description: Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format).
                        line1:
                          type: string
                          description: Address-Line 1, usually street address or P.O. Box information.
                        line2:
                          type: string
                          description: Address-Line 2, usually the apartment or unit number.
                        postal_code:
                          type: string
                          description: Zip code, or equivalent.
                        state:
                          type: string
                          description: State, county, province, region, or equivalent.
                payer_tin:
                  type: string
                  description: Payer's tax identification number.
            warnings:
              type: array
              description: Information on scan quality and missing fields.
              items:
                type: object
                properties:
                  field_name:
                    type: string
                    description: Which field encountered the error.
                  message:
                    type: string
                    description: The `field_name` and warning message.
                    enum:
                    - not found
                    - value empty/bad format
                    - obfuscated
                    - obfuscated last two digits given
                    - obfuscated last four digits given
                    - 'field_name had non numeric chars removed, original value: <value>'
                    - 'field_name invalid - non numeric value, original value: <value>'
                  severity:
                    type: number
                    format: float
                    description: 'The severity of the encountered issue.


                      - `0.0`: The field was found, but its value was unclear or obfuscated.

                      - `0.5`: A field or value was not found, but unclear if it needed to be present.

                      - `1.0`: A field or value was not found.

                      '
                    enum:
                    - 0.0
                    - 0.5
                    - 1.0
            confidence:
              type: string
              description: "Indicator of how successful the scanning process went.\n\n- **`EXACT_MATCH`**: No errors found.  \n- **`HIGH`**: 1 error was found.  \n- **`MEDIUM`**: 2 errors were found.  \n- **`LOW`**: 3 errors were found.  \n- **`NO_MATCH`**: 4 or more errors were found. This typically indicates the document's `form_type` did not match the scanned document.  \n"
              enum:
              - EXACT_MATCH
              - HIGH
              - MEDIUM
              - LOW
              - NO_MATCH
            ocr_page_count:
              type: integer
              description: Number of pages scanned.
            error:
              type:
              - string
              - 'null'
              description: "An error was encountered during document retrieval.\n\n- **`invalid_document`**: The document was empty, cropped, missing required fields, or otherwise incomplete.  \n- **`type_mismatch`**: The document does not match the classified type.  \n- **`unrecognized_document_type`**: The document could not be classified.  \n- **`unsupported_document_type`**: The document type is not supported.  \n- **`unsupported_document_subtype`**: The document sub-type (e.g., 1099-C) is not supported.  \n- **`unknown`**: An unknown issue occurred. The Argyle team will automatically be notified and will investigate.  \n"
              enum:
              - invalid_document
              - type_mismatch
              - unrecognized_document_type
              - unsupported_document_type
              - unsupported_document_subtype
              - unknown
        metadata:
          type: object
          description: Additional, non-categorized information.
    PartnerUserCreateRequest:
      type: object
      properties:
        client:
          type: string
          format: uuid
          description: 'ID of the client on whose behalf the user is created.


            <Info>

            Provided to you by your Argyle Customer Success manager.

            </Info>

            '
        first_name:
          type: string
          description: User first name.
        last_name:
          type: string
          description: User last name.
        email:
          type: string
          description: 'User email address.


            **Required for banking verifications when** `phone_number` is not provided.

            '
        phone_number:
          type: string
          description: 'User phone number. E.164 international format recommended.


            **Required for banking verifications when** `email` is not provided.

            '
        ssn:
          type: string
          description: 'User Social Security number.


            **Required for banking verifications when** `birth_date` is not provided.

            '
        address:
          $ref: '#/components/schemas/PartnerAddress'
        birth_date:
          allOf:
          - $ref: '#/components/schemas/PartnerBirthDate'
          description: 'User date of birth.


            **Required for banking verifications when** `ssn` is not provided.

            '
        external_metadata:
          type: object
          description: Additional metadata for internal partner workflows.
          additionalProperties: true
          properties:
            broker:
              allOf:
              - $ref: '#/components/schemas/PartnerBroker'
              required:
              - name
            suppress_verification:
              type: boolean
              description: Set to `true` when explicitly ordering verifications after creating the user. This prevents automatic payroll verification on user creation. If omitted or `false`, legacy automatic payroll verification behavior remains enabled.
        open_banking:
          $ref: '#/components/schemas/PartnerOpenBanking'
        external_id:
          type:
          - string
          - 'null'
          description: External identifier for your internal mapping.
      required:
      - client
    Destination:
      type: object
      properties:
        reference:
          type: string
          description: Describes where the payment was sent, such as a checking account or bank name.
        amount:
          type: string
          description: Pay amount sent to the destination. Returned as a decimal string with exactly two decimal places.
          x-argyle-decimal-places: 2
          x-argyle-decimal-mode: fixed
        method:
          type: string
          description: Payment method, such as direct deposit.
        ach_deposit_account:
          type: object
          properties:
            bank_name:
              type: string
              description: Name of the bank account.
            routing_number:
              type: string
              description: Routing number of the bank account.
            account_number:
              type: string
              description: Account number of the bank account.
          description: Details for bank account destinations.
        card:
          type: object
          properties:
            name:
              type: string
              description: Name of the card where the payout was sent.
            number:
              type: string
              description: Card number.
          description: Details for payout card destinations.
    PartnerSession:
      title: Embedded
      type: object
      properties:
        verification:
          type: string
          format: uuid
          description: Verification ID associated with the session.
        configuration:
          $ref: '#/components/schemas/PartnerSessionConfiguration'
        link:
          type: string
          description: URL used to launch the payroll or banking frontend experience. For payroll, use it as `connectUrl` when initializing the [Web SDK](/link/initialization/web#initialize-with-connecturl); the returned session URL already determines whether the session runs in Sandbox or Production. Alternatively, open it directly for [Hosted Link](/link/initialization/hosted-link). For banking, pass this value to the [banking SDK](/verifications/verification-types/banking#launch-the-banking-session) as `connectURL`. Hosted or no-SDK banking flows must be enabled by Argyle before use. Session links expire after one hour. A new session link can be created at any time by creating another session for the active verification.
        data_source:
          type: string
          enum:
          - payroll
          - banking
          description: Source of connection data.
    PartnerInviteSessionCreateRequest:
      title: Invites
      type: object
      properties:
        user:
          type: string
          format: uuid
          description: 'User ID.


            **Note:** The user must have `first_name` and `last_name`.

            '
        type:
          type: string
          enum:
          - invite
          description: Session type.
        configuration:
          $ref: '#/components/schemas/PartnerInviteSessionCreateConfiguration'
      required:
      - user
      - type
      - configuration
    PartnerVerificationErrorResource:
      type: object
      description: Verification error resource details.
      properties:
        id:
          type:
          - string
          - 'null'
          description: ID of the associated resource, if available.
        type:
          type: string
          description: Resource type.
        name:
          type: string
          description: Resource name.
    PartnerVerificationCreateReportRequest:
      type: object
      description: Report request configuration.
      properties:
        type:
          type: string
          enum:
          - voie
          - voe
          - voie-government
          - voa
          - voi
          - voai
          - voe-transactions
          - doc-voi-mortgage
          description: 'The type of report to generate.


            Payroll:

            - `voie` - Verification of Income and Employment.

[...]
