openapi: 3.2.0
info:
  title: Argyle Item Migrations API
  description: Argyle OpenAPI spec
  version: 1.0.111
servers:
- url: https://api-sandbox.argyle.com/v2
  description: Sandbox
- url: https://api.argyle.com/v2
  description: Production
security:
- basicAuth: []
tags:
- name: Item Migrations
paths:
  /item-migrations:
    post:
      summary: Migrate a Link item ID
      description: 'Returns the Item ID''s that correspond to a provided list of Link item ID''s.


        - Link item ID''s were used in Link 4 initializations.

        - Item ID''s are used in Link 5 initializations.


        Item ID''s use the convention: "item_[9 digits]" - `"item_123456789"` for example.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                link_items:
                  type: array
                  description: Array of Link item ID's.
                  items:
                    type: string
              required:
              - link_items
            example:
              link_items:
              - GigAndGo
              - GigDrive
              - GigAntic
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: 'Object keyed by Link item ID''s.

                  Each key maps to an object containing the corresponding Item ID.

                  '
              example:
                GigAndGo:
                  id: item_000000003
                GigDrive:
                  id: item_000000042
                GigAntic:
                  id: item_000000819
      operationId: postItemMigrations
      tags:
      - Item Migrations
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Username = api_key_id, Password = api_key_secret
