openapi: 3.2.0
info:
  title: Argyle Receipts API
  description: Argyle OpenAPI spec
  version: 1.0.111
servers:
- url: https://api-sandbox.argyle.com/v2
  description: Sandbox
- url: https://api.argyle.com/v2
  description: Production
security:
- basicAuth: []
tags:
- name: Receipts
paths:
  /receipts:
    post:
      summary: Generate a receipt
      description: Returns a PDF listing all billable transactions associated with the user.
      servers:
      - url: https://api.argyle.com
        description: Production
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                  format: uuid
                  description: ID of the user.
              required:
              - user
            example:
              user: 018051aa-f7a9-a0db-2f38-6cfa325e9d69
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              description: Content type of response payload.
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Response disposition with receipt filename.
              schema:
                type: string
                example: attachment; filename="receipt.pdf"
            Content-Length:
              description: Size of response payload in bytes.
              schema:
                type: integer
                example: 12345
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: '200 OK

                    Content-Type: application/pdf

                    Content-Disposition: attachment; filename="receipt.pdf"

                    Content-Length: 12345


                    [PDF binary stream omitted]

                    '
      operationId: postReceipts
      tags:
      - Receipts
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Username = api_key_id, Password = api_key_secret
