---
openapi: 3.0.0
info:
  title: Argyle API
  description: Argyle OpenAPI spec
  version: 1.0.111
servers:
- url: https://api-sandbox.argyle.com/v2
  description: Sandbox
- url: https://api.argyle.com/v2
  description: Production
security:
- basicAuth: []
tags: []
paths:
  "/users":
    post:
      summary: Create a user
      description: Creates a new user object. Includes a new [user token](/link/user-tokens)
        in the response.
      requestBody:
        content:
          application/json:
            examples:
              Default:
                summary: Default
                value: {}
              Wholesale mortgage:
                summary: Wholesale mortgage
                value:
                  first_name: John
                  last_name: Smith
                  email: john.smith@email.com
                  external_metadata:
                    broker:
                      name: Jane Diaz
                      phone_number: "+14165551234"
                      email: jane.diaz@email.com
                      nmls: '1234567'
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: Pre-fill Link's login screen with this first name.
                last_name:
                  type: string
                  description: Pre-fill Link's login screen with this last name.
                email:
                  type: string
                  description: |
                    Pre-fill Link's login screen with this email.

                    **Required for banking verifications when** `phone_number` is not provided.

                    Invalid email addresses will cause the request to fail.
                    We recommend client-side validation and retrying the request without the invalid email if you receive:
                    ```json
                    {
                      "email": [
                        "Enter a valid email address."
                      ]
                    }
                    ```
                phone_number:
                  type: string
                  description: |
                    Pre-fill Link's login screen with this phone number.
                    E.164 international format recommended.

                    **Required for banking verifications when** `email` is not provided.

                    Invalid phone numbers will cause the request to fail.
                    We recommend client-side validation and retrying the request without the invalid phone number if you receive:
                    ```json
                    {
                      "phone_number": [
                        "Enter a valid phone number."
                      ]
                    }
                    ```
                ssn:
                  type: string
                  description: |
                    Social Security number.

                    **Required for banking verifications when** `birth_date` is not provided.
                address:
                  type: object
                  description: Address of the user.
                  properties:
                    city:
                      type: string
                      description: Name of the city, town, district, or similar regional
                        entity.
                    line1:
                      type: string
                      description: Address-Line 1, usually street address or P.O.
                        Box information.
                    line2:
                      type: string
                      description: Address-Line 2, usually the apartment or unit number.
                    state:
                      type: string
                      description: State, county, province, region, or equivalent.
                    country:
                      type: string
                      description: Two-letter country code (ISO 3166-1 alpha-2 format).
                    postal_code:
                      type: string
                      description: Zip code, or equivalent.
                birth_date:
                  type: object
                  description: |
                    Date of birth of the user.

                    **Required for banking verifications when** `ssn` is not provided.
                  properties:
                    year:
                      type: integer
                      description: Birth year (1900 or later).
                    month:
                      type: integer
                      description: Birth month (between 1 and 12).
                    day:
                      type: integer
                      description: Birth day (between 1 and 31).
                external_metadata:
                  type: object
                  description: Any valid JSON.
                  properties:
                    broker:
                      allOf:
                      - "$ref": "#/components/schemas/Broker"
                      required:
                      - name
                    open_banking:
                      type: object
                      description: Can be optionally included when ordering [banking
                        verifications](/verifications/verification-types/banking).
                      properties:
                        end_user:
                          type: object
                          description: Contains details about the person or entity
                            making the lending decision.
                          properties:
                            name:
                              type: string
                              description: Name of the lender or entity.
                            address:
                              type: string
                              description: Street address or P.O. Box information
                                (include apartment or unit numbers).
                            city:
                              type: string
                              description: Name of the city, town, district, or similar
                                regional entity.
                            state:
                              type: string
                              description: State, county, province, region, or equivalent.
                            zip:
                              type: string
                              description: Zip code, or equivalent.
                            phone:
                              type: string
                              description: |
                                Phone number of the lender or entity.

                                Must be 10 or 11 digits (with or without hyphens).
                external_id:
                  type: string
                  description: Any string. Maximum 100 characters.
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                user_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWQiOiIxNDRhMTRkNS04YzEzLTQzZGYtOTI4Ni01OWY4NjFkOWEyMDIiLCJleHAiOjE2NzgzNDExNDMsImZpZCI6ImIyYzY4YzUwLTc2MTQtNDAwNy1iMzNmLWZiMzlkMDFmMmM3MCIsImlhdCI6MTY3ODMzNzU0MywiaXNzIjoiYXJneWxlLWNvcmUtYXV0aC1kZXYiLCJqdGkiOiI3ZTU0ZTY1NS05YWN2LTRiZDctOWI3OC0xODMxMjVkYjM1MzMiLCJzdWIiOiIwMTg2YzRiNi04ZTgyLWQ5OWMtOGY4Mi1mNjMyMjgxMzk2ZTQiLCJ1c2VyX2lkIjoiMDE4NmM0YjYtOGU4Mi1kOTljLThmODItZjYzMjI4MTM5NmU0In0.q5bkZTFAohISOcjJDb2wSzKcHmwrOM4pp9imOVybaWk
                id: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
              schema:
                type: object
                properties:
                  user_token:
                    type: string
                    description: Token associated with the created user.
                  id:
                    type: string
                    format: uuid
                    description: Unique ID of the user.
      operationId: postUsers
    get:
      summary: List all users
      description: Returns a paginated list of all user objects.
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of user objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.

'
      - in: query
        name: external_id
        schema:
          type: string
        description: Filter users by `external_id`. Exact matches only.
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/User"
              example:
                next: https://api-sandbox.argyle.com/v2/users?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                  created_at: '2023-01-30T22:25:38.971Z'
                  items_connected:
                  - item_123456789
                  - item_987654321
                  employers_connected:
                  - Whole Goods
                  - Bullseye
                  external_metadata:
                    notes: In stage 3 of loan approval.
                    category: Summer Initiative
                  external_id: July Connection
                  first_name: Sarah
                  last_name: Longfield
                  email: sarah@email.com
                  phone_number: "+12125555555"
                  ssn: 522-09-1191
                  address:
                    city: New York
                    line1: 852 North W St
                    line2: Apt 221
                    state: NY
                    country: US
                    postal_code: '10014'
                  birth_date:
                    year: 1980
                    month: 10
                    day: 30
                - id: '0186c5b8-8fa1-67b3-39af-14b3e18da8a7'
                  created_at: '2023-01-30T23:25:38.971Z'
                  items_connected:
                  - item_000000001
                  - item_000000002
                  employers_connected:
                  - Half Bads
                  - Triple
                  external_metadata:
                    notes: In stage 1 of loan approval.
                    category: Summer Initiative
                  external_id: August Connection
                  first_name: Jane
                  last_name: Doe
                  email: jane.doe@example.com
                  phone_number: "+14165555555"
                  ssn: 000-00-0000
                  address:
                    city: San Francisco
                    line1: 123 Market St
                    line2: Apt 4
                    state: CA
                    country: US
                    postal_code: '94105'
                  birth_date:
                    year: 1985
                    month: 5
                    day: 15
      operationId: getUsers
  "/users/{id}":
    get:
      summary: Retrieve a user
      description: Retrieves a user object.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
      operationId: getUsersById
    patch:
      summary: Update a user
      description: Updates a user object.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user object to be updated.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: Pre-fill Link's login screen with this first name.
                last_name:
                  type: string
                  description: Pre-fill Link's login screen with this last name.
                email:
                  type: string
                  description: |
                    Pre-fill Link's login screen with this email.

                    Invalid email addresses will cause the request to fail.
                phone_number:
                  type: string
                  description: |
                    Pre-fill Link's login screen with this phone number.

                    [E.164](https://en.wikipedia.org/wiki/E.164) international format recommended.
                    Invalid phone numbers will cause the request to fail.
                ssn:
                  type: string
                  description: Social Security number.
                address:
                  type: object
                  properties:
                    city:
                      type: string
                      description: Name of the city, town, district, or similar regional
                        entity.
                    line1:
                      type: string
                      description: Address-Line 1, usually street address or P.O.
                        Box information.
                    line2:
                      type: string
                      description: Address-Line 2, usually the apartment or unit number.
                    state:
                      type: string
                      description: State, county, province, region, or equivalent.
                    country:
                      type: string
                      description: Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
                        format).
                    postal_code:
                      type: string
                      description: Zip code, or equivalent.
                birth_date:
                  type: object
                  properties:
                    year:
                      type: integer
                      description: Birth year (1900 or later).
                    month:
                      type: integer
                      description: Birth month (between 1 and 12).
                    day:
                      type: integer
                      description: Birth day (between 1 and 31).
                external_metadata:
                  type: object
                  description: |
                    Any valid JSON.

                    The provided values are merged with the user's existing external metadata.

                    Must be an object `{}` when used for [banking reports](/api-reference/banking-overview#create-an-argyle-user).
                  properties:
                    broker:
                      "$ref": "#/components/schemas/Broker"
                    open_banking:
                      type: object
                      description: Only relevant to [banking reports](/api-reference/banking-overview#create-an-argyle-user).
                      properties:
                        end_user:
                          type: object
                          description: Contains details about the person or entity
                            making the lending decision.
                          properties:
                            name:
                              type: string
                              description: Name of the lender or entity.
                            address:
                              type: string
                              description: Street address or P.O. Box information
                                (include apartment or unit numbers).
                            city:
                              type: string
                              description: Name of the city, town, district, or similar
                                regional entity.
                            state:
                              type: string
                              description: State, county, province, region, or equivalent.
                            zip:
                              type: string
                              description: Zip code, or equivalent.
                            phone:
                              type: string
                              description: |
                                Phone number of the lender or entity.

                                Must be 10 or 11 digits (with or without hyphens).
                external_id:
                  type: string
                  description: Any string. Maximum 100 characters.
            examples:
              general_update:
                summary: General update
                value:
                  first_name: Sarah
                  last_name: Longfield
                  email: sarah@email.com
                  phone_number: "+12125555555"
                  external_metadata:
                    notes: Moved to stage 2 of loan approval.
                    category: Summer Initiative
                  external_id: July_Connection
              banking_end_user_update:
                summary: Banking end-user update
                value:
                  external_metadata:
                    open_banking:
                      end_user:
                        name: Example Tenant
                        address: 1234 Example Way
                        city: Example City
                        state: FL
                        zip: '12345'
                        phone: '11234567890'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
      operationId: patchUsersById
    delete:
      summary: Delete a user
      description: |
        Deletes a user object.

        <Warning>Deleting a user object will also delete all accounts and resources associated with the user.</Warning>
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user object to be deleted.
      responses:
        '204':
          description: '204 status code: No content.'
      operationId: deleteUsersById
  "/user-tokens":
    post:
      summary: Create a user token
      description: |
        Creates a new user token from the `id` of an existing user for direct embedded Link initializations.

        <Note>
        [Creating a new user](/api-reference/users#create) will also return a user token in the response.
        </Note>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateUserTokenRequest"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateUserTokenResponse"
              example:
                user_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWQiOiIxNDRhMTRkNJ04YzEzLTQzZGYtOTI4Ni01OWY4NjFkOWEyMDIiLCJleHAiOjE2NzgzOTUwMTEsImZpZCI6ImMyNzFhODRlLWM2MjQtNDNkYS05OGMyLTQzODZkNTk1OWQ4YiIsImlhdCI6MTY3ODM5MTQxMSwiaXNzIjoiYXJneWxlLWNvcmUtYXV0aC1kZXYiLCJqdGkiOiI4ZTk1MTBmNC00YzVlLTRlOTAtOTIyNy1kNjg2MTk3MmMxOTAiLCJzdWIiOiIwMTg2YzRiOC04ZmExLTYyYjMtNDlkZi05NGIzZTE4Y2E4YTciLCJ1c2VyX2lkIjoiMDE4NmM0YjgtOGZhMS02MmIzLTQ5ZGYtOTRiM2UxOGNhOGE3In0.oLrxtzfNHG1RZ85Z4q7VUiv2-kufXmMINJFHeRIjvWo
      operationId: postUserTokens
  "/invites":
    post:
      summary: Send an invite
      description: |
        Immediately sends an invite via email, SMS, or both.
        Returns an invite object in the response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - "$ref": "#/components/schemas/SendInviteRequest"
              required:
              - first_name
              - last_name
            examples:
              default:
                value:
                  first_name: Sarah
                  last_name: Longfield
                  phone_number: 212-555-5555
                  email: sarah@email.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InviteObject"
              example:
                id: 0424137bc-edc5-35de-c1b5-1c3cddb4b227
                user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                user_token: bcJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWEiOiIxNDRhMTRkNS04YzEzLTQzZGYtOTI4Ni01OWY4NjFkOWEyMDIiLCJleHAiOjE2ODc3OTMzODAsImZpZCI6IjUyYWM3ZFFiLTI1MzAtNGYyNy04NTZlLTkwOTk1ZDA4NWJkMCIsImlhdCI6MTY4Nzc4OTc4MCwiaXNzIjoiYXJneWxlLWNvcmUtYXV1aC1kZXYiLCJqdGkiOiI2ZWJiOGIxMS0wYzFjLTRiNjEtYmI5NS04ZGQ0YzA0OGQwNzUiLCJzdWIiOiIwMTg4ZjgxYy0zZTFkLTRlZDEtMjEyYy02NmE3YzE4YzVjYzMiLCJ1c2VyX2lkIjoiMDE4OGY4MWMtM2UxZC00ZWQxLTIxMmMtNjZhN2MxN2M1Y2MzIn0.TNiZojOiiXtPVamyCDjz4f2GwR4TA8x6JR3RwjTECjY
                email: sarah@email.com
                phone_number: 212-555-5555
                full_name: Sarah Longfield
                first_name: Sarah
                last_name: Longfield
                revoked_at: null
                status: sent
                group_id: d8a07e5b-13a3-11ef-af7e-c7eb00762562
                url: https://verify.argyle.com/connect/0424137bc-edc5-35de-c1b5-1c3cddb4b227
                created_at: '2023-03-09T23:57:05.756Z'
                updated_at: '2023-03-09T23:57:05.756Z'
                invited_at: '2023-03-09T23:57:05.756Z'
                flow_id: 8DRRA4XC
                flow_items:
                - item_000000001
                - item_000000002
                reply_to:
                - person1@email.com
                - person2@email.com
                deliveries:
                - id: d7c85e44-9729-11f0-b297-f3718e19503e
                  method: email
                  status: sent
                  sent_at: '2023-03-09T23:57:24.000Z'
                  updated_at: '2023-03-09T23:57:24.000Z'
                invite_template_id: null
      operationId: postInvites
    get:
      summary: List all invites
      description: Returns an object containing all invite objects.
      parameters:
      - in: query
        name: status
        schema:
          type: string
        description: |
          Filter invites by [status](#object-status).

          Multiple status values can be searched at once using either method:

          1. `/v2/invites?status=sent,initiated`
          2. `/v2/invites?status=sent&status=initiated`
      - in: query
        name: reply_to
        schema:
          type: string
        description: Filter invites for a specific [`reply_to`](#object-reply_to)
          email.
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of invite objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/InviteObject"
              example:
                next: https://api-sandbox.argyle.com/v2/invites?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: 0424137bc-edc5-35de-c1b5-1c3cddb4b227
                  user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                  user_token: null
                  email: sarah@email.com
                  phone_number: 212-555-5555
                  full_name: Sarah Longfield
                  first_name: Sarah
                  last_name: Longfield
                  revoked_at: null
                  status: completed
                  group_id: d8a07e5b-13a3-11ef-af7e-c7eb00762562
                  url: https://verify.argyle.com/connect/0424137bc-edc5-35de-c1b5-1c3cddb4b227
                  created_at: '2023-03-09T23:57:05.756Z'
                  updated_at: '2023-03-09T23:57:05.756Z'
                  invited_at: '2023-03-09T23:57:05.756Z'
                  flow_id: 8DRRA4XC
                  flow_items:
                  - item_000000001
                  - item_000000002
                  reply_to:
                  - person1@email.com
                  - person2@email.com
                  deliveries:
                  - id: d7c85e44-9729-11f0-b297-f3718e19503e
                    method: email
                    status: opened
                    sent_at: '2023-03-09T23:57:24.000Z'
                    updated_at: '2023-03-09T23:57:24.000Z'
                  invite_template_id: null
                - id: '0186c5b8-8fa1-67b3-39af-14b3e18da8a7'
                  user: f3041cb5-bf31-21cb-aa05-df294c161fd9
                  user_token: null
                  email: bob@email.com
                  phone_number: 212-867-5309
                  full_name: Bob Jones
                  first_name: Bob
                  last_name: Jones
                  revoked_at: null
                  status: initiated
                  group_id: null
                  url: https://verify.argyle.com/connect/f3041cb5-bf31-21cb-aa05-df294c161fd9
                  created_at: '2023-03-10T01:22:36.432Z'
                  updated_at: '2023-03-10T01:22:36.432Z'
                  invited_at: '2023-03-10T01:22:36.432Z'
                  flow_id: R23CELUZ
                  flow_items: []
                  reply_to: []
                  deliveries:
                  - id: d7c85e44-9729-11f0-b297-f3718e19503e
                    method: email
                    status: opened
                    sent_at: '2023-03-10T01:22:37.432Z'
                    updated_at: '2023-03-12T01:22:37.432Z'
                  invite_template_id: null
      operationId: getInvites
  "/invites/{id}":
    get:
      summary: Retrieve an invite
      description: Retrieves an invite object.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the invite to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InviteObject"
              example:
                id: 0424137bc-edc5-35de-c1b5-1c3cddb4b227
                user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                user_token: bcJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWEiOiIxNDRhMTRkNS04YzEzLTQzZGYtOTI4Ni01OWY4NjFkOWEyMDIiLCJleHAiOjE2ODc3OTMzODAsImZpZCI6IjUyYWM3ZFFiLTI1MzAtNGYyNy04NTZlLTkwOTk1ZDA4NWJkMCIsImlhdCI6MTY4Nzc4OTc4MCwiaXNzIjoiYXJneWxlLWNvcmUtYXV1aC1kZXYiLCJqdGkiOiI2ZWJiOGIxMS0wYzFjLTRiNjEtYmI5NS04ZGQ0YzA0OGQwNzUiLCJzdWIiOiIwMTg4ZjgxYy0zZTFkLTRlZDEtMjEyYy02NmE3YzE4YzVjYzMiLCJ1c2VyX2lkIjoiMDE4OGY4MWMtM2UxZC00ZWQxLTIxMmMtNjZhN2MxN2M1Y2MzIn0.TNiZojOiiXtPVamyCDjz4f2GwR4TA8x6JR3RwjTECjY
                email: sarah@email.com
                phone_number: 212-555-5555
                full_name: Sarah Longfield
                first_name: Sarah
                last_name: Longfield
                revoked_at: null
                status: sent
                group_id: d8a07e5b-13a3-11ef-af7e-c7eb00762562
                url: https://verify.argyle.com/connect/0424137bc-edc5-35de-c1b5-1c3cddb4b227
                created_at: '2023-03-09T23:57:05.756Z'
                updated_at: '2023-03-09T23:57:05.756Z'
                invited_at: '2023-03-09T23:57:05.756Z'
                flow_id: 8DRRA4XC
                flow_items:
                - item_000000001
                - item_000000002
                reply_to:
                - person1@email.com
                - person2@email.com
                deliveries:
                - id: d7c85e44-9729-11f0-b297-f3718e19503e
                  method: email
                  status: sent
                  sent_at: '2023-03-09T23:57:24.000Z'
                  updated_at: '2023-03-09T03:24:58.000Z'
                invite_template_id: null
      operationId: getInvitesById
    post:
      summary: Re-send an invite
      description: 'Re-sends a previously sent invite. Updates the `updated_at` and
        `invited_at` time.

'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the invite to be re-sent.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InviteObject"
              example:
                id: 0424137bc-edc5-35de-c1b5-1c3cddb4b227
                user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                user_token: bcJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWEiOiIxNDRhMTRkNS04YzEzLTQzZGYtOTI4Ni01OWY4NjFkOWEyMDIiLCJleHAiOjE2ODc3OTMzODAsImZpZCI6IjUyYWM3ZFFiLTI1MzAtNGYyNy04NTZlLTkwOTk1ZDA4NWJkMCIsImlhdCI6MTY4Nzc4OTc4MCwiaXNzIjoiYXJneWxlLWNvcmUtYXV1aC1kZXYiLCJqdGkiOiI2ZWJiOGIxMS0wYzFjLTRiNjEtYmI5NS04ZGQ0YzA0OGQwNzUiLCJzdWIiOiIwMTg4ZjgxYy0zZTFkLTRlZDEtMjEyYy02NmE3YzE4YzVjYzMiLCJ1c2VyX2lkIjoiMDE4OGY4MWMtM2UxZC00ZWQxLTIxMmMtNjZhN2MxN2M1Y2MzIn0.TNiZojOiiXtPVamyCDjz4f2GwR4TA8x6JR3RwjTECjY
                email: sarah@email.com
                phone_number: 212-555-5555
                full_name: Sarah Longfield
                first_name: Sarah
                last_name: Longfield
                revoked_at: null
                status: sent
                group_id: d8a07e5b-13a3-11ef-af7e-c7eb00762562
                url: https://verify.argyle.com/connect/0424137bc-edc5-35de-c1b5-1c3cddb4b227
                created_at: '2023-03-09T23:57:05.756Z'
                updated_at: '2023-03-09T23:57:05.756Z'
                invited_at: '2023-03-09T23:57:05.756Z'
                flow_id: 8DRRA4XC
                flow_items:
                - item_000000001
                - item_000000002
                reply_to:
                - person1@email.com
                - person2@email.com
                deliveries:
                - id: d7c85e44-9729-11f0-b297-f3718e19503e
                  method: email
                  status: sent
                  sent_at: '2023-03-11T05:23:12.000Z'
                  updated_at: '2023-03-11T05:23:12.000Z'
                - id: d7c85e44-9729-11f0-b297-f3718e19503e
                  method: email
                  status: sent
                  sent_at: '2023-03-09T23:57:24.000Z'
                  updated_at: '2023-03-09T23:57:24.000Z'
                invite_template_id: null
      operationId: postInvitesById
  "/invites/{id}/revoke":
    post:
      summary: Revoke an invite
      description: |
        Invalidates a previously sent invite.

        If a user clicks a revoked invite URL, the landing page will notify the user the invite has expired.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the invite to be revoked.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InviteObject"
              example:
                id: 0424137bc-edc5-35de-c1b5-1c3cddb4b227
                user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                user_token: bcJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWEiOiIxNDRhMTRkNS04YzEzLTQzZGYtOTI4Ni01OWY4NjFkOWEyMDIiLCJleHAiOjE2ODc3OTMzODAsImZpZCI6IjUyYWM3ZFFiLTI1MzAtNGYyNy04NTZlLTkwOTk1ZDA4NWJkMCIsImlhdCI6MTY4Nzc4OTc4MCwiaXNzIjoiYXJneWxlLWNvcmUtYXV1aC1kZXYiLCJqdGkiOiI2ZWJiOGIxMS0wYzFjLTRiNjEtYmI5NS04ZGQ0YzA0OGQwNzUiLCJzdWIiOiIwMTg4ZjgxYy0zZTFkLTRlZDEtMjEyYy02NmE3YzE4YzVjYzMiLCJ1c2VyX2lkIjoiMDE4OGY4MWMtM2UxZC00ZWQxLTIxMmMtNjZhN2MxN2M1Y2MzIn0.TNiZojOiiXtPVamyCDjz4f2GwR4TA8x6JR3RwjTECjY
                email: sarah@email.com
                phone_number: 212-555-5555
                full_name: Sarah Longfield
                first_name: Sarah
                last_name: Longfield
                revoked_at: null
                status: sent
                group_id: d8a07e5b-13a3-11ef-af7e-c7eb00762562
                url: https://verify.argyle.com/connect/0424137bc-edc5-35de-c1b5-1c3cddb4b227
                created_at: '2023-03-09T23:57:05.756Z'
                updated_at: '2023-03-09T23:57:05.756Z'
                invited_at: '2023-03-09T23:57:05.756Z'
                flow_id: 8DRRA4XC
                flow_items:
                - item_000000001
                - item_000000002
                reply_to:
                - person1@email.com
                - person2@email.com
                deliveries:
                - id: d7c85e44-9729-11f0-b297-f3718e19503e
                  method: email
                  status: sent
                  sent_at: '2023-03-09T23:57:24.000Z'
                  updated_at: '2023-03-09T23:57:24.000Z'
                invite_template_id: null
      operationId: postInvitesByIdRevoke
  "/accounts":
    get:
      summary: List all accounts
      description: Returns a paginated list of all account objects.
      parameters:
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: item
        schema:
          type: string
          format: uuid
        description: Filter by Item ID.
      - in: query
        name: ongoing_refresh_status
        schema:
          type: string
          enum:
          - enabled
          - disabled
          - idle
        description: Filter by `status` of the `ongoing_refresh` object.
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of account objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Account"
              example:
                next: https://api-sandbox.argyle.com/v2/accounts?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '0185a8b8-60eb-80ca-7482-5f24504573f7'
                  user: '0186c5b8-8fa1-67b3-39af-14b3e18da8a7'
                  employers:
                  - Half Bads
                  item: item_000000001
                  source: payrollcorp
                  created_at: '2023-01-30T18:25:13.491Z'
                  updated_at: '2023-01-30T18:46:44.034Z'
                  scanned_at: '2023-01-30T18:46:43.446Z'
                  connection:
                    status: connected
                    error_code: null
                    error_message: null
                    updated_at: '2023-01-30T18:25:30.334956Z'
                    direct_deposit_switch:
                      status: error
                      error_code: confirmation_timeout
                      error_message: This user did not finish confirming the direct
                        deposit switch.
                      updated_at: '2023-01-30T18:35:31.961Z'
                  availability:
                    shifts:
                      status: synced
                      updated_at: '2023-01-30T18:46:43Z'
                      available_count: 132
                      available_from: '2020-03-03T18:25:30Z'
                      available_to: '2023-01-28T00:00:00Z'
                    gigs:
                      status: synced
                      updated_at: '2023-01-30T18:46:43Z'
                      available_count: 242
                      available_from: '2020-03-03T18:25:30Z'
                      available_to: '2023-01-28T00:00:00Z'
                    paystubs:
                      status: synced
                      updated_at: '2023-01-30T18:46:43Z'
                      available_count: 40
                      available_from: '2020-03-03T18:25:30Z'
                      available_to: '2023-01-02T00:00:00Z'
                    payroll_documents:
                      status: synced
                      updated_at: '2023-01-30T18:45:35.228Z'
                    identities:
                      status: synced
                      updated_at: '2023-01-30T18:45:34.960Z'
                    ratings:
                      status: synced
                      updated_at: '2023-01-30T18:45:35.235Z'
                    vehicles:
                      status: synced
                      updated_at: '2023-01-30T18:45:35.237Z'
                    deposit_destinations:
                      status: synced
                      updated_at: '2023-01-30T18:25:31.438Z'
                    user_forms: null
                    user_uploads: null
                  ongoing_refresh:
                    status: enabled
                - id: '01856c65-43b6-8b5d-b32a-56b8fbda5c28'
                  user: '0186c5b8-8fa1-67b3-39af-14b3e18da8a7'
                  employers: []
                  item: item_000012271
                  source: doc_upload_item
                  created_at: '2023-01-30T15:15:53.176Z'
                  updated_at: '2023-01-30T15:16:12.042Z'
                  scanned_at: null
                  connection:
                    status: connecting
                    error_code: null
                    error_message: null
                    updated_at: '2023-01-30T15:16:14.695Z'
                  direct_deposit_switch:
                    status: idle
                    error_code: null
                    error_message: null
                    updated_at: '2023-01-30T15:16:11.703Z'
                  availability:
                    shifts: null
                    gigs: null
                    paystubs: null
                    payroll_documents: null
                    identities: null
                    ratings: null
                    vehicles: null
                    deposit_destinations: null
                    user_forms:
                      status: synced
                      updated_at: '2023-01-30T15:16:12.012Z'
                      available_count: 1
                      files_count: 3
                      in_progress_count: 0
                    user_uploads: null
                  ongoing_refresh:
                    status: idle
      operationId: getAccounts
  "/accounts/{id}":
    get:
      summary: Retrieve an account
      description: Retrieves an account object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the account object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
              example:
                id: '0187c66e-e7e5-811c-b006-2232f00f426a'
                user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                employers:
                - Whole Goods
                item: item_123456789
                source: thepayrollcompany
                created_at: '2023-01-30T12:53:22.561Z'
                updated_at: '2023-01-30T12:55:04.478Z'
                scanned_at: '2023-01-30T12:55:04.016Z'
                connection:
                  status: connected
                  error_code: null
                  error_message: null
                  updated_at: '2023-01-30T12:53:25.561Z'
                direct_deposit_switch:
                  status: success
                  error_code: null
                  error_message: null
                  updated_at: '2023-01-30T12:55:03.478Z'
                availability:
                  shifts:
                    status: synced
                    updated_at: '2023-01-30T12:55:03Z'
                    available_count: 94
                    available_from: '2020-04-11T12:53:27Z'
                    available_to: '2023-01-25T00:00:00Z'
                  gigs:
                    status: synced
                    updated_at: '2023-01-30T12:55:03Z'
                    available_count: 217
                    available_from: '2020-04-11T12:53:27Z'
                    available_to: '2023-01-25T00:00:00Z'
                  paystubs:
                    status: synced
                    updated_at: '2023-01-30T12:55:03Z'
                    available_count: 68
                    available_from: '2020-05-11T12:53:27Z'
                    available_to: '2023-01-29T23:59:59Z'
                  payroll_documents:
                    status: synced
                    updated_at: '2023-01-30T12:53:44.308912Z'
                  identities:
                    status: synced
                    updated_at: '2023-01-30T12:53:44.028552Z'
                  ratings:
                    status: synced
                    updated_at: '2023-01-30T12:55:03.359356Z'
                  vehicles:
                    status: synced
                    updated_at: '2023-01-30T12:53:44.321951Z'
                  deposit_destinations:
                    status: synced
                    updated_at: '2023-01-30T12:53:42.586391Z'
                  user_forms:
                    status: in_progress
                    updated_at: '2023-01-30T12:53:42.586391Z'
                    available_count: 0
                    files_count: 1
                    in_progress_count: 1
                    user_uploads:
                      status: synced
                      updated_at: '2023-01-30T12:54:41.621Z'
                      files_count: 2
                      in_progress_count: 0
                ongoing_refresh:
                  status: enabled
      operationId: getAccountsById
    delete:
      summary: Delete an account
      description: |
        Deletes an account object.

        <Warning>**Caution** - Deleting an account object will delete all resources associated with the account, such as paystubs or uploaded documents.</Warning>
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the account object to be deleted.
      responses:
        '204':
          description: '204 status code: No content.'
      operationId: deleteAccountsById
  "/accounts/{id}/disable-ongoing-refresh":
    post:
      summary: Disable account updates
      description: |
        Disables `ongoing_refresh` for an individual account.

        To access this feature, reach out to our team for assistance.

        *   Link will display the [ongoing\_refresh\_disabled](/api-reference/account-connection-errors#ongoingrefreshdisabled) account connection error when users return to view this account.
        *   Changes the account's [`ongoing_refresh.status`](/api-reference/accounts#object-ongoing_refresh) value from `enabled` to `disabled` and causes the [`accounts.updated`](/api-reference/accounts-webhooks/updated) webhook to be sent.

        <br/>

        After `ongoing_refresh` is disabled:

        *   The specified account will no longer receive [data updates](/overview/ongoing-refresh).
        *   If the user returns to Link and [reconnects the account](/workflows/reconnecting-accounts#reconnecting-disconnected-accounts):
            1.  The account will immediately be re-scanned and its data updated.
            2.  The account will be billed as a new account connection.
            3.  Ongoing refresh will be re-enabled for the account.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the account object.
      responses:
        '200':
          description: '200 status code: Request succeeded.'
      operationId: postAccountsByIdDisableOngoingRefresh
  "/employments":
    get:
      summary: List all employments
      description: Returns a paginated list of all employment objects.
      parameters:
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        required: false
        description: Filter by user ID.
      - in: query
        name: account
        schema:
          type: string
          format: uuid
        required: false
        description: Filter by account ID.
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of employment objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: A list of employment objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Employment"
              example:
                next: https://api-sandbox.argyle.com/v2/employments?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '0186a27d-e5c6-735a-a359-6315b34d544c'
                  user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                  account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                  created_at: '2023-01-30T12:53:24.561Z'
                  employer: Whole Goods
                  employment_status: active
                  origin: retrieved
                - id: '0183d52a-d3b2-331d-c753-3662a20e352b'
                  user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                  account: '0183d52b-a0c3-599a-e901-3676a20a533f'
                  created_at: '2023-01-30T12:53:24.561Z'
                  employer: Double Double
                  employment_status: inactive
                  origin: acquired
                - id: '0183d52a-d3b2-331d-c753-3662a20e352b'
                  user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                  account: 0175a40a-b3b4-622b-a339-8855c57b226e
                  created_at: '2023-01-30T12:53:24.561Z'
                  employer: Half Bads
                  employment_status: inactive
                  origin: retrieved
                - id: '0183d52a-d3b2-331d-c753-3662a20e352b'
                  user: '018051aa-f7a9-a0db-2f38-6cfa325e9d69'
                  account: 0175a40a-b3b4-622b-a339-8855c57b226e
                  created_at: '2023-01-30T12:53:24.561Z'
                  employer: Stardollars LLC
                  employment_status: inactive
                  origin: retrieved
      operationId: getEmployments
  "/items":
    get:
      summary: List all Items
      description: Returns a paginated list of all Item objects.
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: 'Free-text search filter. For best results, use the payroll platform
          or employer''s full name.

'
      - in: query
        name: id
        schema:
          type: string
        description: |
          Filter by Item ID.
          Multiple Item IDs can also be searched at once using either method:

          1. `/v2/items?id=item_000000001,item_000000002`
          2. `/v2/items?id=item_000000001&id=item_000000002`
      - in: query
        name: kind
        schema:
          type: string
        description: Filter by `kind` value.
      - in: query
        name: status
        schema:
          type: string
        description: |
          Filter by `status` value.

          Multiple `status` values can also be searched at once using either method:

          1. `/v2/items?status=healthy,issues`
          2. `/v2/items?status=healthy&status=issues`

          Filtering by both `healthy` and `issues` will return all Items that currently support new payroll connections.
      - in: query
        name: mapping_status
        schema:
          type: string
        description: |
          Filter by `mapping_status` value.

          Multiple `mapping_status` values can also be searched at once using either method:

          1. `/v2/items?mapping_status=verified,mapped`
          2. `/v2/items?mapping_status=verified&mapping_status=mapped`
      - in: query
        name: min_matching_score
        schema:
          type: number
        description: |
          Only returns items with a [matching_score](/api-reference/items#object-matching_score) greater than or equal to this value.
          `min_matching_score` should be used together with the `q` "free-text search" query parameter.
      - in: query
        name: filter_set
        schema:
          type: string
          format: uuid
        description: Filter by Item filter ID.
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of Item objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.

'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Item"
              example:
                next: https://api-sandbox.argyle.com/v2/items?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: item_000000002
                  name: Bullseye
                  kind: employer
                  known_limitations: null
                  status: unavailable
                  status_details: The Item is down due to scheduled maintenance but
                    should be back shortly.
                  mapping_status: verified
                  logo_url: argyle.com/image-holdings
                  is_grouping: false
                  matching_score: '1.00'
                - id: item_000000003
                  name: Triple
                  kind: platform
                  known_limitations: null
                  status: healthy
                  status_details: null
                  mapping_status: mapped
                  logo_url: argyle.com/image-holdings
                  is_grouping: false
                  matching_score: '0.63'
      operationId: getItems
  "/items/{id}":
    get:
      summary: Retrieve an Item
      description: Retrieves an Item object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: 'ID of the Item. ID format - `item_123456789`

'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Item"
              example:
                id: item_000000001
                name: Whole Goods
                kind: employer
                known_limitations: First 5 digits of SSN obfuscated.
                status: healthy
                status_details: null
                logo_url: argyle.com/image-holdings
                is_grouping: false
                mapping_status: verified
                features:
                  data_retrieval:
                    refresh_frequency: 5h
                  field_coverage:
                    identities:
                      first_name:
                        supported: true
                      last_name:
                        supported: true
                      "...":
                        supported: true
                    paystubs:
                      hours_ytd:
                        supported: false
                      paystub_period:
                        start_date:
                          supported: true
                        end_date:
                          supported: true
                      "...":
                        supported: true
                    payroll_documents:
                      "...":
                        supported: true
                    deposit_destinations:
                      "...":
                        supported: true
                    shifts:
                      "...":
                        supported: true
                    gigs:
                      "...":
                        supported: true
                    vehicles:
                      "...":
                        supported: true
                    ratings:
                      "...":
                        supported: true
                  deposit_destinations:
                    max_observed_destinations: '2'
                  direct_deposit_switch:
                    card:
                      supported: true
                      max_allocations: '3'
                    deposit_account:
                      types:
                      - ach_deposit_account
                      supported: true
                      max_allocations: '2'
                      amount_allocation: false
                      percent_allocation: true
                      amount_precision: null
                      percent_precision: '0.01'
      operationId: getItemsById
  "/item-filters":
    post:
      summary: Create an Item filter
      description: "Filters are applied to properties of the `field_coverage` object
        of [Items](/api-reference/items#object) using the comparison operators below.
        You can also filter Items by their `status` property using the `eq` operator.\n\nThe
        name and ID of the new Item filter are returned in the response, which can
        be used as a query parameter when [listing Items](/api-reference/items#list).\n\n##
        Comparison operators\n\n`eq` - equals  \n`gt` - greater than  \n`gte` - greater
        than or equal to  \n`lt` - less than  \n`lte` - less than or equal to\n"
      requestBody:
        required: true
        content:
          application/json:
            example:
              name: Key paystub fields supported
              filters:
                status:
                  eq: healthy
                field_coverage:
                  paystubs:
                    gross_pay:
                      supported:
                        eq: true
                    paystub_date:
                      supported:
                        eq: true
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the Item filter.
                filters:
                  type: object
                  description: The set of filters, which can be applied when [listing
                    Items](/api-reference/items#list).
              required:
              - name
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the item filter.
                    example: '087394d4-83b5-4722-8c5e-0235362c12f5'
                  name:
                    type: string
                    description: The name of the item filter.
                    example: Key paystub fields supported
      operationId: postItemFilters
    get:
      summary: List all Item filters
      description: Returns a paginated list of all Item filters.
      parameters:
      - name: limit
        in: query
        description: 'Number of Item filters returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.

'
        schema:
          type: integer
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the item filter.
                          example: Candidate for new car loan fields supported
                        filters:
                          type: object
                          description: The filters applied to this item filter.
                    example:
                    - name: Candidate for new car loan fields supported
                      filters:
                        field_coverage:
                          gigs:
                            distance:
                              supported: true
                          vehicles:
                            year:
                              supported: true
                    - name: Key paystub fields supported
                      filters:
                        status:
                          eq: healthy
                        field_coverage:
                          paystubs:
                            gross_pay:
                              supported:
                                eq: true
                            paystub_date:
                              supported:
                                eq: true
      operationId: getItemFilters
  "/item-filters/{id}":
    get:
      summary: Retrieve an Item filter
      description: Retrieves an Item filter.
      parameters:
      - name: id
        in: path
        description: ID of the Item filter to be retrieved.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the item filter.
                    example: '087394d4-83b5-4722-8c5e-0235362c12f5'
                  name:
                    type: string
                    description: The name of the item filter.
                    example: Key paystub fields supported
                  filters:
                    type: object
                    description: The filters applied to this item filter.
                    example:
                      status:
                        eq: healthy
                      field_coverage:
                        paystubs:
                          gross_pay:
                            supported:
                              eq: true
                          paystub_date:
                            supported:
                              eq: true
      operationId: getItemFiltersById
    put:
      summary: Replace an Item filter
      description: Replaces the filters of an Item filter with a new set of filters.
      parameters:
      - name: id
        in: path
        description: ID of the Item filter whose filters are to be replaced.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            example:
              name: Key paystub fields supported
              filters:
                status:
                  eq: healthy
                field_coverage:
                  paystubs:
                    gross_pay:
                      supported:
                        eq: true
                    paystub_date:
                      supported:
                        eq: true
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: |
                    Name for the revised Item filter.

                    The ID of the Item filter does not change after the replacement filters are substituted.
                filters:
                  type: object
                  description: The replacement set of filters.
              required:
              - name
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the item filter.
                    example: '087394d4-83b5-4722-8c5e-0235362c12f5'
                  name:
                    type: string
                    description: The name of the item filter.
                    example: Key paystub fields supported
      operationId: putItemFiltersById
    delete:
      summary: Delete an Item filter
      description: Deletes an Item filter.
      parameters:
      - name: id
        in: path
        description: ID of the Item filter to be deleted.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: '204 status code: No content.'
      operationId: deleteItemFiltersById
  "/item-migrations":
    post:
      summary: Migrate a Link item ID
      description: |
        Returns the Item ID's that correspond to a provided list of Link item ID's.

        - Link item ID's were used in Link 4 initializations.
        - Item ID's are used in [Link 5 initializations](/link/initialization).

        Item ID's use the convention: "item_[9 digits]" - `"item_123456789"` for example.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                link_items:
                  type: array
                  description: Array of Link item ID's.
                  items:
                    type: string
              required:
              - link_items
            example:
              link_items:
              - GigAndGo
              - GigDrive
              - GigAntic
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: |
                  Object keyed by Link item ID's.
                  Each key maps to an object containing the corresponding Item ID.
              example:
                GigAndGo:
                  id: item_000000003
                GigDrive:
                  id: item_000000042
                GigAntic:
                  id: item_000000819
      operationId: postItemMigrations
  "/employer-search":
    get:
      summary: List all employers
      description: Returns a paginated list of all Item objects, representing the
        most relevant search results.
      operationId: listEmployers
      parameters:
      - name: q
        in: query
        description: Free-text search filter.
        required: false
        schema:
          type: string
      - name: kind
        in: query
        description: Filter by `kind` value.
        required: false
        schema:
          type: string
      - name: mapping_status
        in: query
        description: |
          Filter by `mapping_status` value.

          Multiple `mapping_status` values can also be searched at once using either method:

          1. `/v2/items?mapping_status=verified,mapped`
          2. `/v2/items?mapping_status=verified&mapping_status=mapped`
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: |
          Filter by `status` value.

          Multiple `status` values can also be searched at once using either method:

          1. `/v2/items?status=healthy,issues`
          2. `/v2/items?status=healthy&status=issues`

          Filtering by both `healthy` and `issues` will return all Items that currently support new payroll connections.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'Number of Item objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.'
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 200
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Employer"
              example:
                next: https://api-sandbox.argyle.com/v2/employer-search?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: item_000000002
                  name: Bullseye
                  logo_url: argyle.com/image-holdings
                  kind: employer
                  mapping_status: verified
                  status: unavailable
                - id: item_000000003
                  name: Triple
                  logo_url: argyle.com/image-holdings
                  kind: platform
                  mapping_status: mapped
                  status: healthy
  "/identities":
    get:
      summary: List all identities
      description: Returns a paginated list of all identity objects.
      parameters:
      - in: query
        name: account
        schema:
          type: string
          format: uuid
        description: Filter by account ID.
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: employment
        schema:
          type: string
          format: uuid
        description: Filter by employment ID.
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of identity objects returned per page. Default: 10. Maximum:
          200.

'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Identity"
              example:
                next: https://api-sandbox.argyle.com/v2/identities?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '0186da0b-6569-0ea0-eb50-b64e97cb29e9'
                  account: '0186da0b-9923-0d27-4b05-6ce3b7b07b89'
                  address:
                    city: San Diego
                    line1: 54 N Shea Ridge
                    line2: null
                    state: CA
                    country: US
                    postal_code: '92092'
                  first_name: Joe
                  last_name: Burnam
                  full_name: Joe Burnam
                  birth_date: '1978-08-29'
                  email: "[email protected]"
                  phone_number: "+12123338708"
                  picture_url: www.argyle.com/logofoldername
                  employment_status: active
                  employment_type: part-time
                  job_title: Hourly staff
                  ssn: 301-06-1225
                  marital_status: Married filing jointly
                  gender: Male
                  original_hire_date: '2022-05-18'
                  hire_date: '2022-05-18'
                  termination_date: null
                  termination_reason: null
                  employer: Double Double
                  employment: '0183d52a-d3b2-331d-c753-3662a20e352b'
                  base_pay:
                    amount: '18.08'
                    period: hourly
                    currency: USD
                  pay_cycle: monthly
                  platform_ids:
                    employee_id: 32ULINA8
                    position_id: 67LKUKA8
                    platform_user_id: '332512349952'
                  created_at: '2023-01-31T12:13:24.561594Z'
                  updated_at: '2023-01-31T12:45:06.478699Z'
                  metadata: {}
                - id: 0353c142-4ab9-baa1-cb44-c8b51225877e
                  account: '0185a8b8-60eb-80ca-7482-5f24504573f7'
                  address:
                    city: Oklahoma City
                    line1: 312 Main Ave
                    line2: null
                    state: OK
                    country: US
                    postal_code: '73008'
                  first_name: Bob
                  last_name: Jones
                  full_name: Bob Jones
                  birth_date: '1983-07-02'
                  email: "[email protected]"
                  phone_number: "+13228675309"
                  picture_url: www.argyle.com/logofoldername
                  employment_status: active
                  employment_type: contractor
                  job_title: Data analyst
                  ssn: 507-18-3058
                  marital_status: Single
                  gender: Female
                  original_hire_date: '2019-01-03'
                  hire_date: '2021-04-08'
                  termination_date: null
                  termination_reason: null
                  employer: Half Bads
                  employment: '0183d52a-d3b2-331d-c753-3662a20e352b'
                  base_pay:
                    amount: '39.72'
                    period: hourly
                    currency: USD
                  pay_cycle: biweekly
                  platform_ids:
                    employee_id: bd823Lk
                    position_id: ab3EkU2
                    platform_user_id: '832355'
                  created_at: '2023-01-30T13:53:24.561594Z'
                  updated_at: '2023-01-30T13:55:06.478699Z'
                  metadata: {}
      operationId: getIdentities
  "/identities/{id}":
    get:
      summary: Retrieve an identity
      description: Retrieves an identity object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the identity object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Identity"
              example:
                id: 0153b145-7ab9-bea2-cc16-a8b71328942f
                account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                address:
                  city: New York
                  line1: 852 North W St
                  line2: Apt 221
                  state: NY
                  country: US
                  postal_code: '10014'
                first_name: Sarah
                last_name: Longfield
                full_name: Sarah Longfield
                birth_date: '1980-10-30'
                email: "[email protected]"
                phone_number: "+12125555555"
                picture_url: www.argyle.com/logofoldername
                employment_status: active
                employment_type: full-time
                job_title: Store Manager
                ssn: 522-09-1191
                marital_status: Married filing jointly
                gender: Female
                original_hire_date: '2019-01-03'
                hire_date: '2020-04-08'
                termination_date: null
                termination_reason: null
                employer: Whole Goods
                employment: '0183d52a-d3b2-331d-c753-3662a20e352b'
                base_pay:
                  amount: '58024.50'
                  period: annual
                  currency: USD
                pay_cycle: semimonthly
                platform_ids:
                  employee_id: OB238HDW5
                  position_id: 6ELL4O7PM
                  platform_user_id: JLH7B9V6O6YGN9O7
                created_at: '2023-01-30T12:53:24.561594Z'
                updated_at: '2023-01-30T12:55:06.478699Z'
                metadata: {}
      operationId: getIdentitiesById
  "/paystubs":
    get:
      summary: List all paystubs
      description: Returns a paginated list of all paystub objects.
      parameters:
      - in: query
        name: account
        schema:
          type: string
          format: uuid
        description: Filter by account ID.
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: employment
        schema:
          type: string
          format: uuid
        description: Filter by employment ID.
      - in: query
        name: from_start_date
        schema:
          type: string
          format: date-time
        description: 'Filter for paystubs with a `paystub_date` on or after this timestamp
          ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

'
      - in: query
        name: to_start_date
        schema:
          type: string
          format: date-time
        description: 'Filter for paystubs with a `paystub_date` on or before this
          timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

'
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of paystubs objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.

'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Paystub"
      operationId: getPaystubs
  "/paystubs/{id}":
    get:
      summary: Retrieve a paystub
      description: Retrieves a paystub object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: 'ID of the paystub object to be retrieved.

'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Paystub"
      operationId: getPaystubsById
  "/payroll-documents":
    get:
      summary: List all payroll documents
      description: Returns a paginated list of all payroll document objects.
      parameters:
      - in: query
        name: account
        schema:
          type: string
          format: uuid
        description: Filter by account ID.
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: employment
        schema:
          type: string
          format: uuid
        description: Filter by employment ID.
      - in: query
        name: from_available_date
        schema:
          type: string
          format: date-time
        description: 'Filter for payroll documents with an `available_date` on or
          after this timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

'
      - in: query
        name: to_available_date
        schema:
          type: string
          format: date-time
        description: 'Filter for payroll documents with an `available_date` on or
          before this timestamp ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

'
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of payroll document objects returned [per page](/api-guide/overview#pagination).
          Default: 10. Maximum: 200.

'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PayrollDocument"
              example:
                next: https://api-sandbox.argyle.com/v2/payroll-documents?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '0186dc02-05b6-b83f-c366-b39a267e1570'
                  account: '0185a8b8-60eb-80ca-7482-5f24504573f7'
                  document_number: null
                  available_date: '2020-05-13T17:25:59Z'
                  expiration_date: null
                  employer: Whole Goods
                  employment: '0186a27d-e5c6-735a-a359-6315b34d544c'
                  document_type: payout-statement
                  document_type_description: null
                  file_url: api.argyle.com/v2/payroll-documents/{id}/file
                  created_at: '2023-03-13T17:27:01.501Z'
                  updated_at: '2023-03-13T17:27:01.501Z'
                  ocr_data: {}
                  metadata: {}
                - id: 0176dc14-bb37-402a-7be1-f5261759fae7
                  account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                  document_number: ced46eb3-7586-3cd7-2418-8eb9482bc3ec
                  available_date: '2019-03-14T17:46:25Z'
                  expiration_date: '2027-03-12T17:46:25Z'
                  employer: GigAndGo
                  employment: 42d6531c-520a-26b9-35c3-b7137a6d205a
                  document_type: drivers-licence
                  document_type_description: Driver's license
                  file_url: api.argyle.com/v2/payroll-documents/{id}/file
                  created_at: '2023-03-13T17:46:28.240Z'
                  updated_at: '2023-03-13T17:46:28.240Z'
                  ocr_data: {}
                  metadata: {}
      operationId: getPayrollDocuments
  "/payroll-documents/{id}":
    get:
      summary: Retrieve a payroll document
      description: Retrieves a payroll document object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the payroll document object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PayrollDocument"
              example:
                id: '0183b2c1-02e5-a5e5-38f2-ecd51a5cf3d6'
                account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                document_number: ced46eb3-7586-3cd7-2418-8eb9482bc3ec
                available_date: '2019-03-14T17:46:25Z'
                expiration_date: '2027-03-12T17:46:25Z'
                employer: GigAndGo
                employment: 42d6531c-520a-26b9-35c3-b7137a6d205a
                document_type: drivers-licence
                document_type_description: Driver's license
                file_url: api.argyle.com/v2/payroll-documents/{id}/file
                created_at: '2023-03-13T17:46:28.240Z'
                updated_at: '2023-03-13T17:46:28.240Z'
                ocr_data: {}
                metadata: {}
      operationId: getPayrollDocumentsById
  "/deposit-destinations":
    get:
      summary: List all deposit destinations
      description: Returns a paginated list of all deposit destination objects.
      parameters:
      - in: query
        name: account
        schema:
          type: string
          format: uuid
        required: false
        description: Filter by account ID.
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        required: false
        description: Filter by user ID.
      - in: query
        name: limit
        schema:
          type: integer
        required: false
        description: 'Number of deposit destination objects returned <a href="/api-guide/overview#pagination">per
          page</a>. Default: 10. Maximum: 200.

'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/DepositDestination"
              example:
                next: https://api-sandbox.argyle.com/v2/deposit-destinations?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '0185da22-3322-eeaf-57b2-a6527214e456'
                  account: '0185a8b8-60eb-80ca-7482-5f24504573f7'
                  employer: Half Bads
                  destination_type: card
                  status: active
                  allocation_type: null
                  currency: null
                  allocation_value: null
                  method: Instant payout
                  card:
                    card_number: "****5678"
                    card_name: Visa
                    is_platform_card: false
                  created_at: '2023-03-13T19:53:49.090Z'
                  updated_at: '2023-03-13T19:53:49.091Z'
                  metadata: {}
                - id: '0185e091-cbe2-775c-bc32-7bc943cb4264'
                  account: '0187e091-b47d-3cc6-a273-2b5e3cab83af'
                  employer: Bullseye
                  destination_type: ach_deposit_account
                  status: inactive
                  allocation_type: amount
                  currency: USD
                  allocation_value: remainder
                  method: Direct deposit
                  ach_deposit_account:
                    account_number: '757127245584'
                    bank_name: SW Bank
                    routing_number: '016012008'
                    account_type: checking
                  created_at: '2023-03-14T14:41:37.989Z'
                  updated_at: '2023-03-14T14:41:37.989Z'
                  metadata: {}
      operationId: getDepositDestinations
  "/deposit-destinations/{id}":
    get:
      summary: Retrieve a deposit destination
      description: Retrieves a deposit destination object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the deposit destination object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DepositDestination"
              example:
                id: 0176e1ea-60ca-c561-eb8e-6dcdb33b1b55
                account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                employer: Whole Goods
                destination_type: ach_deposit_account
                status: active
                allocation_type: amount
                currency: USD
                allocation_value: '325.70'
                method: Direct deposit
                ach_deposit_account:
                  account_number: '123456780000'
                  bank_name: NW Bank
                  routing_number: '026010000'
                  account_type: savings
                created_at: '2023-03-14T16:00:49.420Z'
                updated_at: '2023-03-14T16:00:49.420Z'
                metadata: {}
      operationId: getDepositDestinationsById
  "/shifts":
    get:
      summary: List all shifts
      description: Returns a paginated list of all shift objects.
      parameters:
      - in: query
        name: account
        schema:
          type: string
          format: uuid
        description: Filter by account ID.
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        description: Filter by user ID.
      - in: query
        name: from_start_datetime
        schema:
          type: string
          format: date-time
        description: Filter by shifts with a `start_datetime` on or after this timestamp
          [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).
      - in: query
        name: to_start_datetime
        schema:
          type: string
          format: date-time
        description: Filter by shifts with a `start_datetime` on or before this timestamp
          [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of shift objects returned <a href="/api-guide/overview#pagination">per
          page</a>. Default: 10. Maximum: 200.'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Shift"
              example:
                next: https://api-sandbox.argyle.com/v2/shifts?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '0183c13c-5d3d-2d36-4d6d-5ac7a7eb2b2d'
                  account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                  employer: Bullseye
                  created_at: '2023-04-27T17:37:43.977Z'
                  updated_at: '2023-04-27T17:37:43.977Z'
                  status: completed
                  type: hourly
                  start_datetime: '2023-04-26T00:00:00Z'
                  end_datetime: '2023-04-26T10:00:00Z'
                  all_datetimes:
                    shift_start: '2023-04-26T00:00:00Z'
                    shift_end: '2023-04-26T10:00:00Z'
                    breaks:
                    - break_start: '2023-04-26T04:30:00Z'
                      break_end: '2023-04-26T05:30:00Z'
                  hours: '9.0'
                  timezone: America/New_York
                  location: 605 Far West Ave Suite 970, New York, NY 10019, US
                  metadata: {}
                - id: '0183c5c3-2c9e-f2d1-3c7d-3ac5b73d3a5d'
                  account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                  employer: Bullseye
                  created_at: '2023-04-28T17:38:43.977Z'
                  updated_at: '2023-04-28T17:38:43.977Z'
                  status: scheduled
                  type: hourly
                  start_datetime: '2023-04-29T00:00:00Z'
                  end_datetime: '2023-04-29T10:00:00Z'
                  all_datetimes:
                    shift_start: '2023-04-29T00:00:00Z'
                    shift_end: '2023-04-29T10:00:00Z'
                    breaks: []
                  hours: '10.0'
                  timezone: America/New_York
                  location: 605 Far West Ave Suite 970, New York, NY 10019, US
                  metadata: {}
      operationId: getShifts
  "/shifts/{id}":
    get:
      summary: Retrieve a shift
      description: Retrieves a shift object.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the shift object to be retrieved.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Shift"
              example:
                id: '0183d245-b5c1-2a6d-5e37-1b831d765c5d'
                account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                employer: Whole Goods
                created_at: '2023-04-27T07:02:01.279Z'
                updated_at: '2023-04-27T07:02:01.279Z'
                status: completed
                type: hourly
                start_datetime: '2023-04-26T00:00:00Z'
                end_datetime: '2023-04-26T08:00:00Z'
                all_datetimes:
                  shift_start: '2023-04-26T00:00:00Z'
                  shift_end: '2023-04-26T08:00:00Z'
                  breaks:
                  - break_start: '2023-04-26T03:36:00Z'
                    break_end: '2023-04-26T04:24:00Z'
                hours: '7.2'
                timezone: America/New_York
                location: 302 East N St, New York, NY 10014, US
                metadata: {}
      operationId: getShiftsById
  "/gigs":
    get:
      summary: List all gigs
      description: Returns a paginated list of all gig objects.
      parameters:
      - in: query
        name: account
        schema:
          type: string
          format: uuid
        required: false
        description: Filter by account ID.
      - in: query
        name: user
        schema:
          type: string
          format: uuid
        required: false
        description: Filter by user ID.
      - in: query
        name: from_start_datetime
        schema:
          type: string
          format: date-time
        required: false
        description: 'Filter by gigs with a `start_datetime` on or after this timestamp
          [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).

'
      - in: query
        name: to_start_datetime
        schema:
          type: string
          format: date-time
        required: false
        description: 'Filter by gigs with a `start_datetime` on or before this timestamp
          [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).

'
      - in: query
        name: limit
        schema:
          type: integer
        required: false
        description: 'Number of gig objects returned <a href="/api-guide/overview#pagination">per
          page</a>. Default: 10. Maximum: 200.

'
      - in: query
        name: cursor
        schema:
          type: string
        description: The URL returned in `next` or `previous` used to retrieve another
          [page](/api-guide/overview#pagination) of results.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the next page of results, if available.
                  previous:
                    type: string
                    format: uri
                    nullable: true
                    description: URL for the previous page of results, if available.
                  results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Gig"
              example:
                next: https://api-sandbox.argyle.com/v2/gigs?cursor=ZXhhbXBsZV9jdXJzb3I
                previous: null
                results:
                - id: '0187b43a-35fa-56e2-1a95-f7e4232a4b3a'
                  account: '0187c66e-e7e5-811c-b006-2232f00f426a'
                  employer: GigAntic
                  created_at: '2023-03-15T06:10:25.004Z'
                  updated_at: '2023-03-15T06:10:25.004Z'
                  status: completed
                  type: rideshare
                  task_count: 1
                  start_datetime: '2023-03-15T05:24:44Z'
                  end_datetime: '2023-03-15T06:10:24Z'
                  all_datetimes:
                    request_at: '2023-03-15T05:24:44Z'
                    accept_at: '2023-03-15T05:26:51Z'
                    pickup_at: '2023-03-15T05:30:46Z'
[...]
